.panel {
  border: none;
  box-shadow: none;
}

.panel-group {
  .panel+.panel {
    margin-top: 2px;
  }
  .panel-default {
    > .panel-heading  {
      background-color: $subtle-grey;
      border-radius: 0;
      padding: 0;
      +.panel-collapse>.panel-body {
        border: none;
      }
    }
    h5.panel-title a {
      text-decoration-line: none;
      cursor: pointer;
      padding: 10px 36px 10px 14px;
      display: block;
      position: relative;
      line-height: 1.5625rem;
      &:focus, &:hover {
        text-decoration: none;
      }
      &:after {
        content: $fa-var-angle-up;
        font-family: icomoon;
        position: absolute;
        right: 13px;
        font-size: 1.7rem;
      }
      &.collapsed:after {
        content: $fa-var-angle-down;
      }
    }
  }
}

#blog-accordion {
  & > .blog-accordion-links {
    height: 66px;
  }
}