.article-sidebar {
  &__subscribe {
    padding: 15px;
    background-color: $brand-primary;
    border-radius: 5px;
    @media (max-width: 1300px) {
      border-radius: 0;
    }
  }
  .gform_wrapper{
    form {
      text-align: center;
      width: 100%;
      max-width: 350px;
      .gform_title {
        color: $lightest;
      }
      .gform_button {
        background-color: #000082 !important;
        &:hover{
          background-color: #005dcc !important;
        }
      }
    }
  }
  &__categories {
  }
}
