.breadcrumb-container {
  margin-top: 30px;
  margin-bottom: 15px;

  position: relative;
  a, span {
    color: white;
  }
  p {
    font-size: 0.85em;
    margin: 0;
  }
  .fa-angle-right {
    padding: 0 0.5em;
  }
}
