.call-out-wrapper {
  padding: 1.875rem;
  text-align: center;
  @include sm-max {
    padding-top: 0;
    padding-bottom: 0;
  }
  @at-root .widget-double-wysiwyg + .widget-double-wysiwyg & {
    @include md {
      padding-top: 0;
      margin-top: -1.875rem;
    }
  }
}
.call-out-dbl-wrap {
  margin: -1.875rem;
  @include md {
    margin: -15px;
  }
}
.call-out {
  padding: 1.875rem;
  margin-bottom: 1.875rem;
  text-align: center;
  h3.section-headline {
    font-size: 1.5rem;
    line-height: 2.1875rem;
    font-weight: bold;
    padding: 1.25rem;
    margin: -1.875rem -1.875rem 0;
    @include md {
      font-size: 2.25rem;
      line-height: 3.125rem;
      padding-top: 3.75rem;
      padding-bottom: 1.875rem;
    }
    &.section-headline-small {
      font-size: 1.125rem;
      line-height: 1.875rem;
      @include md {
        padding-bottom: 0;
        font-size: 1.875rem;
        padding-top: 1.875rem;
        line-height: 2.5rem;
      }
    }
  }
  h4.section-headline {
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 2.1875rem;
    padding: 1.25rem;
    margin: -1.875rem -1.875rem 0;
    @include md {
      font-size: 2.25rem;
      line-height: 3.125rem;
      padding: 0.625rem;
    }
    &.section-headline-small {
      font-size: 1.125rem;
      line-height: 1.875rem;
      padding-bottom: 0;
      @include md {
        font-size: 1.5rem;
        line-height: 2.1875rem;
        padding-top: 1.875rem;
      }
    }
  }
  p.call-out-p {
    font-weight: bold;
    line-height: 1.875rem;
    padding: 1.25rem;
    margin: -1.875rem -1.875rem 0;
    @include md {
      font-size: 1.125em;
      padding-top: 1.875rem;
      padding-bottom: 3.75rem;
    }
  }
}

.fact-section {
  @include md {
    font-size: 1.125rem;
  }
  .fact-heading {
    margin-top: 1.25rem;
  }
  .fact-subheading {
    @include md {
      font-size: 1.125rem;
      margin-top: 1.25rem;
      margin-bottom: 1.25rem;
    }
  }
}

.quote-padded {
  > div {
    @include sm-max {
      padding: 0 !important;
    }
  }
}

.call-out-2 {
  .img-responsive {
    width: 100%;
  }
  img {
    max-width: 100%;
  }
  .quote {
    text-align: left;
    padding: 3.5rem;
    @include only-xs {
      padding: 1rem;
    }
    height: 100%;
    margin-bottom: 1.875rem;
    @include md {
      margin-bottom: 0;
    }
    h6 {
      line-height: 1.5625rem;
      font-size: 18px;
      font-weight: bold;
    }
    .quote-name {
      font-size: 18px;
    }
    .quote-logo {
      padding-bottom: 1.25rem;
      max-width: 100%;
    }
    .quote-image {
      padding-right: 0.5rem;
      @include md {
        float: left;
        padding-bottom: 1rem;
      }
    }
    .quote-min-height {
      @include md {
        min-height: 225px;
      }
    }
  }
  &:last-child {
    @include sm-max {
      .quote {
        margin-bottom: 0;
      }
    }
  }
}

.call-out-cta {
  > .btn-lg {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }
}

.call-out-white {
  background: $white;
}

.call-out-brand {
  background: $brand-primary;
  color: $white;
}

.call-out-brand-tertiary {
  background: $brand-tertiary;
  color: $white;
}

.quote-section.container {
  padding: 3.75rem 1.25rem 1.875rem 1.25rem;
  @include sm {
    padding-bottom: 3.75rem;
  }
  @include md {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }
}

.testimonial {
  .container {
    width: 100%;
    .quote {
      padding: 40px 20px;
      margin-bottom: 0;
      @include sm {
        padding: 40px;
      }
      @include md {
        padding: 90px 50px;
      }
    }
    @include lg {
      padding: 3.25rem 0;
      width: 1170px;
      .call-out-wrapper {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  @include lg {
    + .double-wysiwyg .quote-section {
      padding-top: 0;
    }
  }
  .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    @include md {
      padding-bottom: 0;
    }
    iframe,
    object,
    embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.widget-text-wysiwyg {
  .call-out-2 {
    .quote {
      padding: 25px 0;
      margin-bottom: 0;
    }

    img {
      width: 100%;
      object-fit: cover;
    }

    img.custom-size {
      width: initial;
      object-fit: initial;
    }
  }
}
