.ondeck-referral {
  background-color: white;
  text-align: center;
  .container {
    max-width: 900px;
  }
  .svg-img {
    display: block;
    margin: 1rem auto;
    width: 100px;
  }
  .svg-icon {
    display: inline-block;
    height: 11px;
    width: 11px;
    stroke: $brand-primary;
  }
  .section-headline {
    font-family: "GalanoGrotesque", sans-serif;
    color: #555555;
    margin: 15px 0;
  }
  @include sm() {
    .arrow {
      background-image: url($img-dir + 'our-loans-icons.png');
      width: 41px;
      height: 81px;
      background-size: 830%;
      background-position: 743px 85px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%) translateY(100%);
    }
  }
}

.ondeck-impact {
  text-align: center;
  background-color: white;
  h2 {
    text-align: center;
    color: #333;
    margin: 40px auto 10px;
    font-weight: bold;
    line-height: 1.2em;
    font-size: 32px;
    padding-bottom: 25px;
    padding-top: 20px;
  }
  h3 {
    margin-top: 0;
  }
  .impact-card {
    padding-bottom: 0px;
    background-color: #f7f7f7;
    padding: 10px 15px;
    border-radius: 5px;
  }
  @include xs-max {
    margin-bottom: 1em;
  }
}

.ondeck-values {
  text-align: center;
  background-color: white;
  padding-bottom: 2em;
  .container {
    max-width: 900px;
  }
  h3 {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    width: 100%;
    text-align: center;
    color: #0074ff;
    letter-spacing: 3px;
    font-size: 24px;
    font-weight: lighter;
  }
  h2 {
    text-align: center;
    color: #333;
    margin: 40px auto 10px;
    font-weight: bold;
    line-height: 1.2em;
    font-size: 32px;
    padding-bottom: 25px;
    padding-top: 20px;
  }
  svg {
    width: 80px;
    height: 80px;
    margin: auto;
    display: block;
    fill: #0074ff;
    margin-bottom: 10px;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    cursor: pointer;
    width: 25%;
    float: left;
    opacity: 0.5;
    transition: 0.4s;
    &.active {
      opacity: 1;
    }
  }
  .tab-content {
    min-height: 180px;
    margin-top: 0.5em;
  }
  .tab-pane {
    padding: 25px 30px;
    background-color: $brand-primary;
    vertical-align: middle;
    white-space: normal;
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    color: #eee;
    font-weight: lighter;
    position: relative;
    &:before {
      border: 7px inset;
      content: ' ';
      display: inline-block;
      height: 0;
      width: 0;
      border-color: transparent transparent #0074FF;
      border-bottom-style: solid;
      position: absolute;
      top: -27px;
      left: 0;
      border-width: 14px;
      z-index: 1;
    }
    &:first-child:before {
      left: 11%
    }
    &:nth-child(2):before {
      left: 36%
    }
    &:nth-child(3):before {
      left: 61%
    }
    &:last-child:before {
      left: 86%;
    }
  }
  @include xs-max {
    h3 {
      letter-spacing: 1px;
      font-size: 18px;
    }
    li {
      width: 50%;
      margin-bottom: 0.5em;
    }
    .tab-pane {
      &:first-child:before, &:nth-child(3):before {
        left: 23%;
      }

      &:nth-child(2):before, &:last-child:before {
        left: 70%;
      }
    }
  }
}