//
// Content Cards
// --------------------------------------------------


// Base layout styling
// --------------------------------------------------

.card-holder {
  padding: 1.875rem;
}

.section-padded {
  padding-top: 3.1rem;
  padding-bottom: 3.1rem;
}
