.footer {
  background-color: $gray-light;
  h4 {
    font-size: 1rem;
  }
  .footer-links {
    padding-top: 15px;
    padding-bottom: 45px;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      display: block;
      a {
        font-family: GalanoGrotesque,sans-serif;
        color: inherit;
      }
    }
  }
  .social-links{
    display: inline-block;
    margin-right: 20px;
    margin-top: 10px;
  }
  .flags {
    margin-top: 30px;
    margin-bottom: 50px;
    vertical-align: middle;
    line-height: 25px;
    list-style: none;
    li {
      display: inline-block;
      vertical-align: middle;
      line-height: 25px;
    }
    span {
      height: 50px;
      display: inline-block;
      vertical-align: middle;
    }
    a {
      height: 50px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 25px;
    }
    svg {
      margin-right: -15px;
    }
  }
  .disclaimer{
    padding-top: 15px;
    padding-bottom: 15px;
  }
}