.navbar {
	height: $nav-bar-height;
	vertical-align: middle;
	background-color: $white;
	border: 0;
	font-size: 16px;
	a,
	a:hover,
	a:focus {
		text-decoration: none;
	}
	@include transition(background-color 0.3s linear);
	> .container {
		line-height: 25px;
		position: relative;
	}
	@include sm {
		height: $nav-bar-height-desktop;
	}
	.navbar-toggle {
		float: left;
		border: none;
		color: $white;
		background: transparent;
		line-height: 1;
		width: 44px;
		height: 38px;
		.navbar-toggle__icon {
			top: 11px;
			transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
			transition-duration: 0.275s;
			margin-top: -2px;
			outline: none;
			transform: translate3d(0, 9px, 0) rotate(135deg);
			&,
			&:before,
			&:after {
				display: block;
				position: absolute;
				width: 24px;
				height: 3px;
				transition-property: transform;
				border-radius: 2px;
				background-color: $brand-primary;
			}
			&:before,
			&:after {
				content: '';
			}
			&:before {
				opacity: 0;
				top: 9px;
				transition: opacity 0.125s ease;
			}
			&:after {
				top: 18px;
				transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
				transform: translate3d(0, -18px, 0) rotate(-270deg);
			}
		}
		&.collapsed {
			background: transparent;
			.navbar-toggle__icon {
				transition-delay: 75ms;
				transform: translate3d(0, 0, 0) rotate(0deg);
				&:before {
					transition-delay: 0.275s;
					opacity: 1;
				}
				&:after {
					transition-delay: 75ms;
					transform: translate3d(0, 0, 0) rotate(0deg);
				}
			}
		}
		&:focus,
		&:hover {
			background: transparent;
		}
		@include xs-max {
			float: right !important;
		}
	}
	.navbar-brand {
		text-align: center;
		a {
			vertical-align: middle;
		}
		svg {
			margin-top: auto;
			margin-bottom: auto;
		}
	}
	.navbar-header {
		z-index: 2;
		@include sm {
			float: left;
		}
		@include lg {
			position: absolute;
			left: $font-size-base;
		}
	}
	.nav-buttons {
		float: right;
		margin: 0 20px 0 0;
		padding: 0;
		@include lg {
			.navbar-right > & {
				position: absolute;
				right: 0;
			}
		}
		li {
			float: left;
		}
	}
	#navbar {
		float: left;
		background: $brand-primary;
		border: none;
		padding-left: 0;
		padding-right: 0;
		@include lg {
			background: transparent;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			width: 100%;
			display: flex !important;
			justify-content: center;
		}
		@include md-max {
			top: 110%;
			position: absolute;
			width: 40%;
		}
		@include xs-max {
			width: 100%;
		}
	}
	.navbar-nav {
		color: $brand-primary;
		margin: 0;
		&.navbar-top {
			font-size: 15px;
			> li {
				padding: 0 15px;
				@include lg {
					padding: 0 15px;
					margin: 10px 0;
					&:last-child {
						padding-right: 0;
					}
				}
				&:not(:first-child):before {
					content: ' ';
					display: block;
					width: 1px;
					height: 25px;
					position: absolute;
					top: 0;
					left: 0;
					background: #0074ff;
				}
				> a {
					margin: 0;
				}
			}
		}
		> li {
			position: relative;
			padding: 0 15px;
			@include lg {
				padding: 10px 0;
			}
			> a {
				position: static;
				padding: 0;
				margin: 15px 0;
				@include lg {
					margin: 15px 10px;
				}
				&,
				&:hover {
					@include lg {
						color: $brand-primary;
					}
					background-color: transparent;
				}
				@include md-max {
					&:not(:last-child):after {
						font-family: icomoon;
						float: right;
						content: $fa-var-chevron-right;
					}
					&:not(:last-child).active:after {
						transform: rotate(90deg);
					}
				}
			}
			// Apply now button
			.btn {
				color: $white !important;
				background: $brand-secondary;
				display: inline-block;
				padding: 14px 25px;
				margin: 0 0;
				background-color: transparent;

				@include xs-max {
					display: none;
				}
			}
		}
	}
	.navbar-mobile {
		@include lg {
			display: none;
		}
	}
	.navbar-desktop {
		display: block;
		margin: 10px 0;
		@include lg {
			margin: 0;
		}
		@include xs-max {
			display: none;
		}
	}
	.navbar-seperator {
		border-top: 1px solid #cccccc;
	}
}

.nav-phone,
.nav-lock {
	svg {
		fill: #fff;
		stroke: #fff;
		width: 14px;
		height: 18px;
		position: relative;
		bottom: -3px;
	}
}

li.nav-phone {
	display: block;
	@include xs-max {
		display: none;
	}
}

.navbar {
	border-bottom: 1px solid #e0e0e0;
	.stickyheader__logoWhite {
		display: none;
	}
	.navbar-toggle {
		color: $brand-primary;
	}
	.nav-buttons {
		a {
			color: $white;
			@include lg {
				color: $brand-primary;
			}
		}
		.nav-phone,
		.nav-lock {
			a {
				color: $brand-primary;
			}
			svg {
				fill: #0074ff;
				stroke: #0074ff;
			}
		}
	}
	.btn {
		color: $white;
		background: $brand-primary !important;
		border: $brand-primary;
	}
	.navbar-left {
		> li {
			> a {
				color: white;
				@include lg {
					color: #0074ff;
				}
			}
		}
		.nav-phone,
		.nav-lock {
			svg {
				fill: white;
				stroke: white;
			}
			a {
				color: white;
				@include lg {
					color: #0074ff;
				}
			}
		}
	}
	.navbar-right {
		.nav-lock,
		.nav-phone {
			a {
				color: white !important;
				@include sm {
					color: #0074ff !important;
				}
			}
		}
	}
}

.navbar-nav > .menu-item {
	&:hover,
	&:focus {
		background-color: $brand-primary;
		@include lg {
			background-color: $lightest;
		}
		> a {
			cursor: default;
			color: $lightest;
			@include lg {
				border-bottom: 3px solid transparent;
				color: $brand-primary;
			}
		}
		@include lg {
			> .sub-menu {
				display: block !important;
				@include lg {
					box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.25);
				}
			}
		}
	}
	+ .menu-item {
		border-top: solid 1px $white;
		&:last-child {
			border-bottom: solid 1px $white;
		}
		@include lg {
			border-top: 0;
		}
	}
	> .sub-menu {
		@include list-unstyled;
		color: $white;
		overflow: hidden;
		display: none;
		@include lg {
			display: none !important;
			position: absolute;
			top: 100%;
			min-width: 260px;
			z-index: 1;
			background-color: $white;
			color: $brand-primary;
			border-radius: 0 0 4px 4px;
			line-height: 1.2;
		}
		.menu-item > a {
			display: block;
			padding: 15px 25px;
			color: $white;
			font-weight: 100;
			font-size: 15px;
			font-family: GalanoGrotesque, sans-serif;
			transition: all 0.2s ease;
			@include lg {
				color: $brand-primary;
			}
			&:hover,
			&:focus {
				color: #000082;
			}
		}
	}
}

.widget-secondary-header {
	.top-section {
		text-align: center;
		background-color: $darkest;
		padding: 5px 0;
		@include sm {
			text-align: right;
		}
		a {
			color: $white;
			text-decoration: none;
			font-family: arial, sans-serif;
			font-size: 12px;
			&:hover,
			&:focus {
				color: $gray-lighter;
			}
		}
	}
	.bottom-section {
		background-color: $white;
		padding: 15px 0;
	}
}
