.hero {
  max-width: 54em;
  text-align: left;
  color: $white;
  min-height: 300px;
  width: 100%;
  h3 {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2.1875rem;
    margin-bottom: 2.5rem;
    @include md {
      font-size: 1.875rem;
      line-height: 3.125rem;
      margin-bottom: 3.125rem;
    }
  }
  &-cta {
    background-size: 0;
    position: relative;
    @include md {
      padding-top: 1.875rem;
      padding-bottom: 1.875rem;
    }
    @include sm-max {
      padding-bottom: 66.666666vw;
      .padded-section {
        background: #fff;
      }
    }
    &:after {
      display: block;
      content: '';
      background-repeat: no-repeat;
      background-size: cover;
      background-image: inherit;
      height: 66.666666vw;
      width: 100%;
      background-position: center;
      z-index: -1;
      position: absolute;
      bottom: 0;
      @include md {
        background-position: center right;
        position: absolute;
        top: 0;
        left: 0;
        right: 50%;
        bottom: 0;
        padding-top: 0;
        width: auto;
      }
    }
    &__content {
      @include sm-max {
        background: rgba(255, 255, 255, 0.85);
        margin: 1.875rem 1.875rem 0 1.875rem;
      }
      @include md {
        padding: 3.5rem;
      }
    }
    &__title {
      color: #000082;
      font-size: 1rem;
      font-weight: 700;
      margin-bottom: 2.75rem;
      position: relative;
      &:after {
        background-color: #000082;
        content: '';
        display: block;
        height: 0.25rem;
        left: 0;
        position: absolute;
        top: 2.375rem;
        width: 2.5rem;
      }
    }
    &__headline {
      color: #0074ff;
      line-height: 1.2;
      font-size: 2.5rem;
      font-weight: 500;
      margin: 0;
      @include md {
        font-size: 3rem;
        margin: 0 0 2.75rem 0;
      }
      @include lg {
        font-size: 3.875rem;
      }
      strong {
        color: #000082;
        font-weight: normal;
      }
    }
    @include sm-max {
      .btn {
        transform: translatey(33.333333vw);
        position: absolute;
      }
    }
  }
  &-testimonial {
    padding-top: 3.5rem;
    @include sm-max {
      background: #fff !important;
    }
    @include md {
      padding-bottom: 3.5rem;
    }
    .padded-section {
      background-size: 0;
      position: relative;
      @include sm-max {
        padding-top: 0;
        padding-bottom: 0;
      }
      &:before {
        display: block;
        content: '';
        background-repeat: no-repeat;
        background-size: cover;
        background-image: inherit;
        padding-top: 50%;
        width: calc(100% - 3.75rem);
        margin: 0 1.875rem;
        @include md {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          padding-top: 0;
          width: auto;
        }
      }
    }
    &__content {
      background: #fff;
      margin: 1.875rem;
      padding: 3.5rem;
      position: relative;
      @include sm-max {
        margin-bottom: 0;
        margin-top: 0;
      }
      &:before {
        display: block;
        color: #83eece;
        content: '\201C';
        font-family: Georgia;
        font-size: 7rem;
        margin-left: -10px;
      }
    }
    &__credit {
      strong {
        font-size: 1.125rem;
      }
      small {
        font-size: 1rem;
      }
    }
  }
}
