.svguse--strokePrimary {
  stroke: $brand-primary;
}

.svguse--fillPrimary {
  fill: $brand-primary;
}

.svguse--fillPrimary2 {
  fill: #000082;
}
.svguse--fillGrey{
  fill: #ccc;
}
.svguse--strokeGrey {
  stroke: #ccc;
}

.icon-box {
  position: relative;
  h4 {
    font-size: 1.5rem;
    @include md {
      font-size: 2.25rem;
    }
  }
  > svg {
    float: left;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: 20px;
  }
  .icon-box-circle-label{
    margin: 1.5625rem auto;
    position: relative;
    text-align: center;
    width: 5.625rem;
    &:before {
      border-radius: 50%;
      background-position: 50%;
      height: 5rem;
      width: 5rem;
      border: 3px solid #0074ff;
      box-shadow: none;
      content: ' ';
      display: block;
      position: relative;
      z-index: 5;
      margin: 0 auto;
    }
    .icon-box-content {
      line-height: 5rem;
      font-size: 3rem;
      display: block;
      font-weight: bold;
      position: absolute;
      text-align: center;
      top: 0;
      width: 100%;
      z-index: 10;
      svg {
        vertical-align: middle;
        margin-top: -6px;

      }
    }
    .icon-box-label {
      background: #0074ff;
      color: #fff;
      display: block;
      height: 1.875rem;
      line-height: 1.875rem;
      margin-left: -.9375rem;
      margin-top: -.625rem;
      position: relative;
      text-align: center;
      width: 7.5rem;
      z-index: 11;
      font-weight: normal;
      font-size: 1rem;
    }
    + p {
      text-align: center;
      margin-top: -.625rem;
      margin-bottom: 1.875rem;
      width: 75%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.icon-box-2 {
  text-align: center;
  position: relative;
  min-height: 225px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  &:first-child {
    @include md {
      border-right: 1px solid #ccc;
    }
  }
  &:last-child {
    @include md {
      border-left: 1px solid #ccc;
    }
  }
  h4 {
    @include md {
      font-size: 1.5rem;
      line-height: 2.1875rem;
    }
  }
  p {
    text-align: center;
    @include md {
      text-align: left;
    }
  }
}
.icon-container{
  max-width: 80em;
}
.icon-box-row{
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.icon-box-3-wrapper {
  display: block;
  vertical-align: top;
  margin-top: 1.875rem;
  margin-bottom: 1.2rem;
  position: relative;
  line-height: 1.5625rem;
  @include sm {
    display: inline-table;
    width: 50%;
    text-align: left;
    padding: 0;
  }
  @include lg {
    width: 33%;
  }
  > .svg-wrap{
    display: table-cell;
    &.icon-box-3--top-icons {
      display: block;
      vertical-align: initial;
      text-align: center;
      padding-bottom: 1rem;
    }
    padding-right: 1.25rem;
    vertical-align: top;
    @include sm {
      display: block;
      text-align: right;
      padding-right: 0;
    }
    svg {
      vertical-align: middle;
    }
  }
  .icon-box-3 {
    display: table-cell;
    vertical-align: middle;
    &--top-icons {
      display: block;
      vertical-align: initial;
      text-align: center;
    }
    @include sm {
      padding-left: 1.25rem;
      padding-right: 1rem;
      line-height: 2.0652rem;
    }
    h4 {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 1.5rem;
      line-height: 2.1875rem;
      @include sm {
        display: block;
        font-size: 2.25rem;
        line-height: 3.125rem;
      }
    }
    a {
      color: $brand-primary;
    }
  }
  @include only-sm {
    &:last-child {
      transform: translateX(50%);
    }
  }
}
.icon-box-4 {
  text-align: center;
  position: relative;
  min-height: 225px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  h4 {
    @include md {
      font-size: 1.5rem;
      line-height: 2.1875rem;
    }
  }
  p {
    text-align: center;
    @include md {
      text-align: left;
    }
  }
}
.icon-inlay {
  display: none;
  @include sm {
    display: block;
    position: absolute;
    top: 50px;
    right: -36px;
  }
}
.icon-box-list{
  width: 66%;
  margin-left: auto;
  margin-right: auto;
}
.icon-box-5-wrapper {
  display: block;
  vertical-align: top;
  margin-top: 0;
  margin-bottom: 1.2rem;
  position: relative;
  line-height: 1.5625rem;
  text-align: left;
  @include sm {
    display: inline-table;
    width: 50%;
    padding: 0 3.75rem 0 0;
  }
  @include md {
    display: inline-table;
    width: 40%;
    padding: 0 3.75rem 0 0;
  }
  > .svg-wrap{
    display: table-cell;
    padding-right: 1.25rem;
    vertical-align: top;
    svg {
      vertical-align: middle;
    }
  }
  .icon-box-5 {
    display: table-cell;
    vertical-align: middle;
    line-height: 2.0625rem;
    @include sm {
      padding-left: 0;
      padding-right: .3125rem;
      line-height: 2.0652rem;
      text-align: left;
    }
    .icon-box-heading {
      padding: 0;
      margin-bottom: 0;
      margin-top: -.375rem;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 2.1875rem;
    }
    h4 {

      @include sm {
        display: block;
        line-height: 3.125rem;
      }
    }
    h5 {
      line-height: 1.875rem;
      @include sm {
        line-height: 1.5626rem;
      }
    }
    p {
      margin: 0;
      line-height: 24px;
    }
    a {
      color: #0074ff;
    }
  }
}