.lead-gen {
	background-repeat: no-repeat;
	background-position: -500vw -500vw;
	position: relative;
	&::before {
		display: block;
		content: '';
		background-image: inherit;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		padding-top: 50%;
		@include sm {
			padding-top: 40%;
		}
		@include md {
			background-size: cover;
			position: absolute;
			top: 0;
			right: 50%;
			width: 50%;
			bottom: 0;
			padding: 0;
		}
	}
	&::after {
		display: block;
		content: '';
		position: absolute;
		top: 0;
		width: 100%;
		background: linear-gradient(to right, var(--bgColor), transparent 100px, transparent calc(100% - 100px), var(--bgColor));
		padding-top: 50%;
		@include sm {
			padding-top: 40%;
		}
		@include md {
			top: 0;
			left: 0;
			bottom: 0;
			width: 50%;
			padding: 0;
		}
	}
	&__content {
		background: var(--bgColor);
		padding-bottom: 25px;
	}
	&__headline {
		color: #0074ff;
		font-weight: normal;
		font-size: 24px;
		line-height: 32px;
		margin: 0;
		@include md {
			font-size: 40px;
			line-height: 54px;
		}
		strong {
			color: #000082;
			display: block;
		}
	}
	&__box {
		border: 1px solid #d7d7d7;
		background: #fff;
		padding: 25px;
		margin: 25px;
	}
	@include sm {
		& &__half-col {
			clear: none !important;
			width: calc(50% - 7px);
			float: left;
			margin-bottom: 5px !important;
		}
		&__half-col {
			& + & {
				margin-left: 14px !important;
			}
		}
	}
	.gform_wrapper {
		margin: 0;
		.ginput_counter {
			display: none;
		}
		ul.gfield_checkbox li input[type='checkbox'] + label {
			color: #797979;
			margin-left: 15px;
			font-weight: normal;
			vertical-align: top;
			font-size: 13px;
			line-height: 15px;
			a {
				color: #0074ff;
			}
		}
		.gfield_checkbox {
			position: relative;
			label::before {
				display: block;
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				height: 24px;
				width: 24px;
				background: #fff;
				border: 1px solid #d7d7d7;
				border-radius: 0.3125rem;
				text-align: center;
				line-height: 22px;
				font-size: 18px;
				color: #000;
				font-family: icomoon;
				text-rendering: auto;
				padding-left: 2px;
			}
			input:checked + label::before {
				content: $fa-var-check;
			}
		}
		.gfield {
			margin-bottom: 10px;
		}
		.gfield_description {
			font-size: 12px;
			line-height: 22px;
		}
		.description_above .gfield_description {
			padding-bottom: 0;
		}
		input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']) {
			border: 1px solid #d7d7d7;
			box-shadow: none;
			padding: 8px 15px !important;
		}
		.gform_footer {
			padding-bottom: 0;
		}
		.gform_footer input.button,
		.gform_footer input[type='submit'] {
			background: #ff474a;
			border-color: #ff474a;
			font-weight: bold;
			font-size: 24px !important;
			padding: 6px 10px;
		}
		div.validation_error {
			color: #ff474a;
			font-weight: normal;
			margin-bottom: 0;
			border: 0;
			padding: 0;
			clear: both;
			width: 100%;
			text-align: left;
		}
		li.gfield {
			margin-bottom: 15px;
		}
		&.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
			color: #ff474a;
			background-color: transparent;
			border: 0;
			padding-bottom: 0;
			padding-top: 0;
			max-width: none !important;
		}
		.ginput_container_checkbox {
			margin: 15px 0 !important;
		}
		li.gfield_error input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']),
		li.gfield_error textarea {
			border-color: #ff474a;
		}
		.validation_message {
			color: #ff474a;
			font-weight: normal;
		}
	}
}
