.person-caption-wrapper {
  position: relative;
  text-align: center;
  > img {
    margin-left: auto;
    margin-right: auto;
  }
}

.person-caption{
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 2rem;
  width: 60%;
  padding: 10px;
  &.width-90 {
    width: 90%;
  }
  h4 {
    line-height: 1.25rem;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    @include md {
      margin-top: 5px;
      margin-bottom: 5px;
      line-height: 1.25rem;
      font-weight: 700;
    }
  }
  h5 {
    line-height: 1.5625rem;
    margin-top: 0;
    margin-bottom: 0;
    @include md {
      margin-top: 5px;
      margin-bottom: 5px;
      line-height: 1.125rem;
    }
    font-weight: 700;
  }
}