.timeline {
  padding-top: 20px;
  position: relative;

  .items {
    display: table;
    margin: 0;
    padding: 0;
    width:100%;
  }
  .item {
    display: table-cell;
    position: relative;
    padding: 20px;
    &:after {
      content: '';
      display: block;
      width: 100%;
      border: 1px solid #e0e0e0;
      position: absolute;
      top: 30px;
      z-index: 0;
    }
    &:first-child:after {
      width: 50%;
      right: -20px;
    }
    &:last-child:after {
      width: 50%;
      left: -20px;
    }
    @for $i from 3 through 7 {
      &:first-child:nth-last-child(#{$i}), &:first-child:nth-last-child(#{$i}) ~ .item {
        width: calc(100% / #{$i});
      }
    }
  }
  .circle {
    position: relative;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    background-color: $brand-quaternary;
    margin: 0 auto;
    border: 3px solid #fff;
    z-index: 1;
  }
  .year {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }
  .title {
    line-height: 1.2;
    margin: 0;
    color: #333;
  }
  .title, .year {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }
  .rocket-icon {
    background: #fff;
    position: absolute;
    left: 45%;
    top: 10px;
    z-index: 4;
    stroke: $brand-primary;
  }
  .text-wrap {
    /* make this appear over our lines */
    background-color: white;
    position: relative;
    z-index: 10;
  }

  @include sm-max {
    .rocket-icon {
      left: 50%;
      transform: translateX(-50%);
      top: -25px;
    }
    .items {
      display: block;
    }
    .item {
      width: 100%!important;
      display: block;
      position: relative;
      padding: 20px;
      &:after {
        width: 2px;
        height: 100%;
        top: 0;
        left: 50%;
      }
      &:first-child:after {
        width: 2px;
        right: initial;
        left: 50%;
      }
      &:last-child:after  {
        display: none;
      }
    }
  }
}