
.team {
  .thumbnail {
    //Click Styles
    -webkit-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    &:not(.collapsed) {
      border-bottom: 5px solid $brand-primary;
      opacity: 1;
    }
    padding: 0 0 1.875rem;
    border-radius: 0;
    border: none;
    text-align: center;
    img {
      width: 100%;
      max-width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }
  .inactive {
    opacity: 0.5;
  }
  .caption-heading {
    font-size: 1.125rem;
    color: $brand-primary;
    font-weight: 400;
    line-height: 1.25rem;
    margin: .9375rem 0 .3125rem;
  }
  .caption-subheading{
    font-size: .875rem;
    color: #000;
    font-weight: 400;
    padding: 0 .625rem;
  }
}
.team-wrapper {
  .collapsing {
    opacity: 0;
    @include transition(height 0.25s linear );
  }
  .collapse {
    opacity: 0;
    @include transition(all 0.05s linear );
    &.in {
      opacity: 1;
    }
  }
  .collapsing {
    overflow: visible;
  }
  .active:not(.collapsed) {
    & + .collapsing {
      @include transition(none);
    }

  }
  .team-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    width: 25px;
  }
  .well {
    // Well Styles
    position: relative;
    background: #fff;
    border: none;
    // Font Styles
    h3 {
      font-size: 1.125rem;
      line-height: 1.875rem;
      @include md {
        display: inline;
        font-size: 1.875rem;
        line-height: 2.5rem;
        margin-top: 2.5rem;
      }
    }
    h5 {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5625rem;
      @include md {
        font-size: 1.125rem;
        line-height: 1.875rem;
        margin-bottom: 0.625rem;
      }
    }
    p {
      margin-bottom: 1.875rem;
    }
    h5 + p {
      margin-top: 1.875rem;
    }
    // Width Calculations
    width: calc(200% + 30px);
    @include sm {
      width: calc(400% + (30px * 3));
    }
    @include md {
      width: calc(500% + (30px * 4));
    }
  }
  &:nth-of-type(2n+3){
    @include xs-max {
      clear: left;
    }
  }
  &:nth-of-type(4n+5){
    @include only-sm {
      clear: left;
    }
  }
  &:nth-of-type(5n+6){
    @include md {
      clear: left;
    }
  }
  &:nth-of-type(2) {
    .well {
      width: calc(200% + 30px);
      margin-left: calc(-100% - 30px);
      @include sm {
        width: calc(400% + (30px * 3));
        margin-left: calc(-100% - 30px);
      }
      @include md {
        width: calc(500% + (30px * 4));
        margin-left: calc(-100% - 30px);
      }
    }
  }
  &:nth-of-type(3) {
    .well {
      width: calc(200% + 30px);
      @include sm {
        width: calc(400% + (30px * 3));
        margin-left: calc(-200% - (30px * 2));
      }
      @include md {
        width: calc(500% + (30px * 4));
        margin-left: calc(-200% - (30px * 2));
      }
    }
  }
  &:nth-of-type(4) {
    .well {
      width: calc(200% + 30px);
      margin-left: calc(-100% - 30px);
      @include sm {
        width: calc(400% + (30px * 3));
        margin-left: calc(-300% - (30px * 3));
      }
      @include md {
        width: calc(500% + (30px * 4));
        margin-left: calc(-300% - (30px * 3));
      }
    }
  }
  &:nth-of-type(5) {
    .well {
      width: calc(200% + 30px);
      @include sm {
        width: calc(400% + (30px * 3));
      }
      @include md {
        width: calc(500% + (30px * 4));
        margin-left: calc(-400% - (30px * 4));
      }
    }
  }
  &:nth-of-type(6) {
    .well {
      width: calc(200% + 30px);
      margin-left: calc(-100% - 30px);
      @include sm {
        width: calc(400% + (30px * 3));
      }
      @include md {
        margin-left: 0;
        width: calc(500% + (30px * 4));
      }
    }
  }
  &:nth-of-type(7) {
    .well {
      width: calc(200% + 30px);
      @include sm {
        width: calc(400% + (30px * 3));
        margin-left: calc(-200% - (30px * 2));
      }
      @include md {
        width: calc(500% + (30px * 4));
        margin-left: calc(-100% - 30px);
      }
    }
  }
  &:nth-of-type(8) {
    .well {
      width: calc(200% + 30px);
      margin-left: calc(-100% - 30px);
      @include sm {
        width: calc(400% + (30px * 3));
        margin-left: calc(-300% - (30px * 3));
      }
      @include md {
        width: calc(500% + (30px * 4));
        margin-left: calc(-200% - (30px *2));
      }
    }
  }
  &:nth-of-type(9) {
    .well {
      width: calc(200% + 30px);
      @include sm {
        width: calc(400% + (30px * 3));
      }
      @include md {
        width: calc(500% + (30px * 4));
        margin-left: calc(-300% - (30px * 3));
      }
    }
  }
  &:nth-of-type(10) {
    .well {
      width: calc(200% + 30px);
      margin-left: calc(-100% - 30px);
      @include sm {
        width: calc(400% + (30px * 3));
        margin-left: calc(-100% - 30px);
      }
      @include md {
        width: calc(500% + (30px * 4));
        margin-left: calc(-400% - (30px * 4));
      }
    }
  }
  &:nth-of-type(11) {
    .well {
      width: calc(200% + 30px);
      @include sm {
        width: calc(400% + (30px * 3));
        margin-left: calc(-200% - (30px * 2));
      }
      @include md {
        margin-left: 0;
        width: calc(500% + (30px * 4));
      }
    }
  }
  &:nth-of-type(12) {
    .well {
      width: calc(200% + 30px);
      margin-left: calc(-100% - 30px);
      @include sm {
        width: calc(400% + (30px * 3));
        margin-left: calc(-300% - (30px * 3));
      }
      @include md {
        width: calc(500% + (30px * 4));
        margin-left: calc(-100% - 30px);
      }
    }
  }
  &:nth-of-type(13) {
    .well {
      width: calc(200% + 30px);
      @include sm {
        width: calc(400% + (30px * 3));
      }
      @include md {
        width: calc(500% + (30px * 4));
        margin-left: calc(-200% - (30px * 2));
      }
    }
  }
  &:nth-of-type(14) {
    .well {
      width: calc(200% + 30px);
      margin-left: calc(-100% - 30px);
      @include sm {
        width: calc(400% + (30px * 3));
      }
      @include md {
        width: calc(500% + (30px * 4));
        margin-left: calc(-300% - (30px * 3));
      }
    }
  }
  &:nth-of-type(15) {
    .well {
      width: calc(200% + 30px);
      @include sm {
        width: calc(400% + (30px * 3));
        margin-left: calc(-200% - (30px * 2));
      }
      @include md {
        width: calc(500% + (30px * 4));
        margin-left: calc(-400% - (30px * 4));
      }
    }
  }
  &:nth-of-type(16) {
    .well {
      width: calc(200% + 30px);
      margin-left: calc(-100% - 30px);
      @include sm {
        width: calc(400% + (30px * 3));
        margin-left: calc(-300% - (30px * 3));
      }
      @include md {
        margin-left: 0;
        width: calc(500% + (30px * 4));
      }
    }
  }
  &:nth-of-type(17) {
    .well {
      width: calc(200% + 30px);
      @include sm {
        width: calc(400% + (30px * 3));
      }
      @include md {
        width: calc(500% + (30px * 4));
        margin-left: calc(-100% - 30px);
      }
    }
  }
  &:nth-of-type(18) {
    .well {
      width: calc(200% + 30px);
      margin-left: calc(-100% - 30px);
      @include sm {
        width: calc(400% + (30px * 3));
        margin-left: calc(-100% - 30px);
      }
      @include md {
        width: calc(500% + (30px * 4));
        margin-left: calc(-200% - (30px * 2));
      }
    }
  }
  &:nth-of-type(19) {
    .well {
      width: calc(200% + 30px);
      @include sm {
        width: calc(400% + (30px * 3));
        margin-left: calc(-200% - (30px * 2));
      }
      @include md {
        width: calc(500% + (30px * 4));
        margin-left: calc(-300% - (30px * 3));
      }
    }
  }
  &:nth-of-type(20) {
    .well {
      width: calc(200% + 30px);
      margin-left: calc(-100% - 30px);
      @include sm {
        width: calc(400% + (30px * 3));
        margin-left: calc(-300% - (30px * 3));
      }
      @include md {
        width: calc(500% + (30px * 4));
        margin-left: calc(-400% - (30px * 4));
      }
    }
  }
}

