.header-trustpilot {
	padding: 15px;
	border-radius: 6px;
	display: inline-block;
	&--light {
		background-color: rgba(255, 255, 255, 0.3);
	}
	&--dark {
		background-color: rgba(0, 0, 0, 0.3);
	}
	@include sm-max {
		text-align: center;
	}
	@include md {
		&--right {
			float: right;
		}
		&--left {
			float: left;
		}
		&--center {
			text-align: center;
		}
	}
}
