.slider-pro {
  margin: 0 auto;
  box-sizing: content-box;
}

.slider-pro, .sp-mask, .sp-slides-container {
  position: relative;
}

.videoCarousel {
  background-color: inherit;
  overflow: hidden;
}

.sp-mask {
  overflow: hidden;
}

.sp-slides {
  position: relative;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

.sp-slide {
  position: absolute;
  > div {
    margin-left: 0;
    margin-right: 0;
  }
}

.videoCarousel-video {
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  overflow: hidden;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  cursor: pointer;
}

.videoCarousel-video, .videoCarousel-video .player {
  background: rgba(0,0,0,.6);
}

.slider-pro {
  canvas, embed, iframe, object, video {
    max-width: none;
    max-height: none;
  }
}

.sp-slide {
  iframe, video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.videoCarousel-video .play {
  width: 90px;
  height: 90px;
  position: absolute;
  padding-left: 0;
  border: none;
  text-align: center;
  font-size: 30px;
  border-radius: 50px;
  top: 0;
  color: #fff;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  margin: auto;
  line-height: 52px;
}

.sp-layer {
  position: absolute;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-backface-visibility: hidden;
}

.sp-black {
  color: #fff;
  background: #000;
  background: rgba(0,0,0,.6);
}

.sp-padding {
  padding: 22px;
  font-weight: 700;
}

.sp-arrows {
  position: absolute;
  z-index: 10;
}

.sp-fade-arrows {
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.sp-horizontal .sp-arrows {
  width: 100%;
  left: 0;
  top: 50%;
  margin-top: -15px;
}

.videoCarousel-singleVideo .sp-arrows {
  display: none;
}

.sp-full-screen {
  margin: 0 !important;
}

.sp-full-screen-button {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 30px;
  line-height: 1;
  cursor: pointer;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sp-full-screen-button {
  color: #fff;
  &:before {
    content: '\2195';
  }
}

.sp-fade-full-screen {
  opacity: 1;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}
