.gravity-form-custom-validation_wrapper.gform_wrapper {
  &.gform_validation_error.gform_wrapper {
    .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
      max-width: 100%!important;
    }
  }
  .gravity-form-custom-validation {
    .validation_error {
      display: none!important;
    }
    li.gfield {
      &.gfield_error, &.gfield_contains_required.gfield_creditcard_warning {
        background-color: initial!important;
        border-top: none!important;
        border-bottom:none!important;
      }
      &.gfield_error.gfield_contains_required label.gfield_label, .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container {
        margin-top: 0;
      }
    }
    .gfield_error {
      .gfield_label {
        .gfield_required {
          color: $brand-tertiary!important;
        }
        .bg-navy-blue &{
            color: set-form-text-color(#000082);
        }
        .bg-white &{
            color: set-form-text-color(white);
        }

        .bg-grey &{
            color: set-form-text-color(#f0ece9);
        }

        .bg-dark-grey &{
            color: set-form-text-color(#535353);
        }

        .bg-riptide &{
            color: set-form-text-color(#83eece);
        }

        .bg-azure-radiance &{
              color: set-form-text-color(#0074ff);
        }

        .bg-sunset-orange &{
            color: set-form-text-color(#ff474a);
        }
      }
      .ginput_container {
        label {
          color: $brand-tertiary;

        }
      }
      .ginput_container_checkbox {
        .gfield_checkbox {
          label {
            color: $brand-tertiary;
          }
        }
      }
      .gfield_description{
        padding-top: 0;
      }
      .validation_message{
        color: $brand-tertiary;
      }
      input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']) {
        border: 2px solid $brand-tertiary;
      }

    }
    .gfield_label {
      .gfield_required {
        color: $brand-tertiary!important;
      }
    }
  }
}
