.partner-lead {
  background-color: white;
  .content {
    margin-top: 0;
  }

  &-container {
    margin: 3em 0;
    border: 1px solid #eee;
    border-radius: 5px;
  }
  //Form styling
  &-form_wrapper {
    &.gform_wrapper{
      margin: 0;
    }
    .partner-lead-form {
      .gform_heading{
        display:none;
      }
      .gfield_label {
        display: block !important;
      }
      .terms-and-condition-checkbox {
        .gfield_label {
          display: none !important;
        }
      }
      ul {
        padding-left: 0;
      }
      .gform_footer {
        padding: 0;
        text-align: center;
      }
      &--footer-content {
        text-align: center;
        font-size: 14px;
      }
      .fa-refresh.fa-spin {
        color: $brand-primary;
      }
    }
  }

  //layout sections
  &-form-section {
    padding: 20px;
    &--wysiwyg {
      width: 100%;
      @include md {
        width: 33.33333%;
        float:left;
      }
    }
    &--form {
      width: 100%;
      @include md {
        width: 66.66666%;
        float:left;
      }
    }
    &--first {
      width: 100%;
      border-top: 1px solid rgb(238, 238, 238);
      border-bottom: 1px solid rgb(238, 238, 238);
      margin: -2px 0px;
      @include md {
        width: 50%;
        float:left;
        border-right: 1px solid rgb(238, 238, 238);
        border-left: 1px solid rgb(238, 238, 238);
        border-top: none;
        border-bottom: none;
      }
    }
    &--second {
      width: 100%;
      @include md {
        width: 50%;
        float:left;
      }
    }
  }
}
