.article{
  font-size: 18px;
  margin-top: 150px;
  padding-bottom: 1.875rem;
  &.remove-feature-image-padding {
    margin-top: 25px;
  }
  @include sm {
    margin-top: 325px;
    &.remove-feature-image-padding {
      margin-top: 25px;
    }
  }
  .lead {
    font-family: GalanoGrotesque-Medium, sans-serif;
  }
  .blockquote-row {
    padding-top: 60px;
  }
  blockquote {
    font-size: 26px;
    &:before{
      content: "";
      width: 38px;
      height: 2px;
      background: #0074FF;
      position: absolute;
      top: -30px;
    }
  }
  ol {
    counter-reset: item;
    list-style-type: none;
    > li {
      display: block;
      &:before {
        content: counter(item) "  ";
        counter-increment: item;
        margin-right: 5px;
        width: 20px;
        display: inline-block;
      }
      p {
        margin-left: 30px;
      }
    }
    @include sm-max {
      padding-left: 0;
      & >li p {
        margin-left: 0;
      }
    }
  }

}
.article-hero {
  margin-bottom: 0;
  background-position-x: 0;
  background-size: cover;
  position: relative;
  h1{
    color: $white;
    text-align: center;
    font-size: 24px;
    min-height: 24px;
    @include md {
      font-size: 48px;
      min-height: 48px;
    }
  }
  h4{
    color: $white;
    text-align: center;
  }
  &.bg-blog{
    background-image: url('/app/themes/ondeck/resources/assets/images/blog-bg.png');
    background-size: 70px;
  }
  &.bg-news{
    background-image: url('/app/themes/ondeck/resources/assets/images/news-bg.png');
    background-size: cover;
    background-position: center;
  }
  &.bg-press-releases{
    background-image: url('/app/themes/ondeck/resources/assets/images/press_release-bg.png');
    background-size: cover;
    background-position: center;
  }
}
.article-header{
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 0;
  @include sm {
    padding-top: 40px;
    padding-bottom: 0;
  }
  @include md {
    width: 80%;
  }
  .article-category{
    a {
      color: #F7F7F7;
      font-family: GalanoGrotesque,sans-serif;
      font-size: 12px;
      border: 1px solid rgba(151,151,151,0.5);
      border-radius: 2px;
      padding: 5px;
    }
  }
  .article-subtitle{
    text-align: center;
    font-size: 12px;
    color: #ccc;
    a {
      color: #ccc;
    }
  }
}

.article-featured-image {
  height: 200px;
  margin-bottom: -150px;
  background-size: cover;
  border: 12px solid #FFFFFF;
  @include sm {
    height: 450px;
    margin-bottom: -350px;
  }
}

.article-container{
  position: relative;


  section > .container > div {
    max-width: 880px;
    @media (max-width: 1300px) {
      max-width: 100%;
    }
  }
}

.article-meta {
  color: #969696;
  font-size: 0.75em;
  margin-top: 1em;
}



.social {
  &__icon {
    font-size: 40px;
    display: inline-block;
    vertical-align: middle;
  }
  &--inline {
    display: none;
    @include lg {
      display: block;
    }
    .social__title {
      display: inline-block;
      margin-right: 1rem;
      vertical-align: middle;
    }
  }
}

.questions-cta-wrapper {
  text-align: center;
  h3 {
    margin: 0;
    padding: 0;
  }
  .fa {
    padding-right: 10px;
  }
  a {
    display: block;
    font-size: 1.25em;
    color: #fff;
    padding: 1.75em 0;
    background-color: $brand-secondary;
  }
  @include sm-max {
    a {
      font-size: 1em;
    }
    .fa {
      font-size: 1.5em;
      padding-right: 0;
      display: block;
      padding-bottom: 10px;
    }
  }
}

a .fa-twitter-square { color: #00aced; }
a .fa-facebook-square { color: #3b5998; }
a .fa-linkedin-square { color: #007bb6; }

.related-articles {
  background-color: #eeeeee;
  padding: 2em 0;
}
