$thumbnail-height: 250px;

.blog-hero {
  margin-bottom: 0;
  height: 230px;
  background-position-x: 0;
  background-size: cover;
  position: relative;
  h1 {
    color: $white;
    text-align: center;
    font-size: 24px;
    min-height: 24px;
    @include md {
      font-size: 48px;
      min-height: 48px;
    }
    @include xs-max {
      svg {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 13px;
      }
    }
  }

  h4 {
    text-align: center;
    color: $white;
  }
  > .container {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
  }
  &.bg-blog {
    background-image: url($img-dir + 'blog-bg.png');
    background-position: center;
    background-size: 70px;
  }
  &.bg-news {
    background-image: url($img-dir + 'news-bg.png');
    background-size: cover;
    background-position: center;
  }
  &.bg-press-releases {
    background-image: url($img-dir + 'press_release-bg.png');
    background-size: cover;
    background-position: center;
  }
}

.blog-nav {
  &.blog-sub-nav {
    background: #0074FF;
    > ul {
      text-align: center;
      > li {
        float: none;
        display: inline-block;
        margin: 0;
        > a {
          color: #fff;
          font-size: 17px;
          font-family: GalanoGrotesque, sans-serif;
          padding: 15px 50px;
          border-radius: 0;
          &:hover, &:focus {
            color: #0074FF;
            background: #F7F7F7;
            border-radius: 0;
          }
        }
        &.active {
          a {
            color: #0074FF;
            background: #F7F7F7;
            border-radius: 0;

          }
        }
      }
    }
    @include sm-max {
      & > ul > li {
        width: 50%;
        float: left;
        a {
          padding: 15px 0;
        }
      }
    }
  }
  .pagination {
    li {
      &.active {
        background: none;
        a {
          color: #000000;
          border: 1px solid #E0E0E1;
          border-radius: 3px;
        }
      }
      a {
        margin-left: 10px;
        margin-right: 10px;
        background: none;
        font-size: 18px;
        color: #0074FF;
        border: 0;
        font-weight: 500;
      }
    }
  }
}

.blog-card {
  .thumbnail {
    padding: 0;
    border: 0;
    border-radius: 0;
    img, amp-img {
      width: 100%;
      height: $thumbnail-height;
      object-fit: cover;
      object-position: 50% 50%;
    }
    .caption {
      padding: 15px 30px;
    }
    @include sm-max {
      display: table;
      width: 100%;
      .caption {
        padding: 21px 30px;
        display: table-cell;
        vertical-align: top;
      }
    }
    @include xs-max {
      & > a {
        display: table-cell;
        width: 175px;
        vertical-align: top;
      }
      img, amp-img {
        object-fit: cover;
        width: 175px;
        max-width: 175px;
        height: 250px;
      }
    }
    @media screen and (max-width: 400px) {
      & > a {
        display: none;
      }
    }
  }
  .blog-card-category {
    font-size: 12px;
    color: #555555;
    opacity: 0.5;
    text-transform: capitalize;
  }
  .blog-card-title {
    color: #43484D;
    font-family: GalanoGrotesque, sans-serif;
    font-weight: 500;
    font-size: 20px;
  }
  .blog-card-date {
    span {
      font-size: 12px;
      color: #555555;
      opacity: 0.5;
    }
  }
  .blog-card-subtitle {
    font-size: 14px;
    font-family: GalanoGrotesque, sans-serif;
    font-weight: 500;
    color: #43484D;
  }
}

.blog-sidebar-tags {
  margin-top: 10px;
  margin-bottom: 10px;
  a, a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
  }
}
.blog-sidebar-tag {
  display: inline-block;
  font-family: GalanoGrotesque, sans-serif;
  font-weight: 500;
  font-size: 12px;
  padding: 5px 10px;
  line-height: 1;
  margin-top: 5px;
  margin-right: 5px;
  background-color: $brand-primary;
  color: $white;
  border-radius: 3px;
  transition: all .2s ease;
  &.active, &:hover {
    background-color: lighten($brand-primary,10%);
  }
}

.mobile-wrap {
  .accordion-group {
    position:absolute;
    background-color: #f7f7f7;
    width: 100%;
    z-index: 10;
  }
  .blog-sidebar-content {
    padding: 1em;
  }
}

.blog-sidebar {
  background: white;
  padding: 0;
  .blog-sidebar-item {
    padding: 15px;
    border-bottom: 1px solid #F7F7F7;
    &:last-of-type {
      border-bottom: none;
    }
  }
  .blog-sidebar-title {
    font-size: 16px;
    display: block;
    font-weight: bold;
    @include md {
      font-size: 17px;
    }
    @include sm-max {
      text-align: center;
      width: 50%;
      float: left;
      padding: 20px;
      font-weight: normal;

      &:after {
        font-family: icomoon;
        content: $fa-var-chevron-up;
      }
      &.collapsed:after {
        content: $fa-var-chevron-down;
      }
    }
  }
  .blog-sidebar-links {
    ul {
      padding-left: 0;
      list-style-type: none;
      li {
        a {

        }
      }
    }
  }
  .blog-sidebar-category-links {
    a {
      position: relative;
    }
    span {
      padding-left: 30px;
    }
    label {
      pointer-events: none;
      position: absolute;
      left: 0;
    }
  }
  label {
    color: #0074FF;
    padding-left: 30px;
  }
  input[type="checkbox"]:focus {
    outline: none;
    border-radius: 3px;
    box-shadow: inset 0 0 0.1em 0 white;
  }

  input[type="checkbox"] {
    height: 16px;
    width: 16px;
    border-radius: 3px;
    margin-left: -30px;
  }

  input[type="checkbox"]::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: none;
    background: #E0E0E1;
    border-radius: 3px;
    z-index: 1;
  }

  input[type="checkbox"]::before {
    content: $fa-var-check;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    font-size: 0.65rem;
    line-height: 1.65em;
    font-family: icomoon;
    background: #0074FF;
    z-index: 2;
    border-radius: 3px;
    transition: opacity .2s;
    opacity: 0;
  }

  input[type="checkbox"]:focus::before {
    box-shadow: inset 0 0 0.1em 0 white;
  }

  input[type="checkbox"]:checked::before {
    opacity: 1;
  }
}

.blog-search {
  display: none;
  @include md {
    display: table;
  }
  .form-control {
    border: 1px solid #E0E0E1;
    height: 50px;
    border-radius: 0;
  }
  .btn {
    height: 50px;
  }
}

@include sm-max {
  .blog-main > section.padded-section {
    padding-top: 0;
  }
}

.blog-card-news {
  display: table-row;
  .blog-card-date {
    display: table-cell;
    background-color: $brand-primary;
    vertical-align: middle;
    padding: 30px 40px;
    text-align: center;
    &:hover , &:focus{
      text-decoration: none;
    }
    span {
      display: block;
      color: $white;
      opacity: 1;
      line-height: initial;
    }
    .news-date {
      font-size: 40px;
      line-height: 35px;
    }
    .news-month {
      font-size: 20px;
    }
  }
  .blog-card-caption {
    display: table-cell;
    padding: 15px;
    background-color: white;
    width: 100%;
  }
}

.news-column {
  margin-bottom: 20px;
}

.brand-color {
  color: $brand-primary;
}


