.contact-sidebar {
  display: table;
  background: white;
  width: 100%;
  .contact-sidebar-row {
    display: table-row;
  }
  .contact-sidebar-item{
    display: none;
    color: #000082;

    padding: 1.875rem;
    text-align: center;
    @include sm {
      display: block;
      width: 100%;
    }
    @include md {
      width: 50%;
      display: table-cell;
    }
    h5 {
      color: #000;
    }
  }
}
.contact-main {
  display: table;
  width: 100%;
  margin-bottom: 1.25rem;
  &:first-of-type {
    @include sm {
      margin-top: 1.25rem;
    }
  }
  &:last-of-type {
    margin-bottom: 0;
  }

  .contact-main-row {
    display: table-row;
  }
  .contact-main-item{
    color: #000;
    vertical-align: middle;
    text-align: left;
    background: white;
    display: block;
    width: 100%;
    @include md {
      display: table-cell;
      width: 50%;
    }
    &:first-of-type {
      padding: 1.875rem 1.875rem 0.125rem 1.875rem;
      @include md {
        padding: 1.875rem 1.675rem;
      }
    }
    &:last-of-type {
      padding: 0.125rem 1.875rem 1.875rem 1.875rem;
      @include md {
        padding: 1.875rem 1.675rem;
      }
    }
  }
  .bulletlist {
    list-style: none;
    margin: 0;
    padding-left: 0;
    &.bulletlist-tightListItemContent {
      .bulletlist-listItem{
        margin-top: 1.25rem;
      }
      .bulletlist-listItemContent{
        line-height: 1.25rem;
      }
    }
  }
  .bulletlist-listItem {
    display: table;
    margin-top: 1.875rem;
    margin-bottom: 1.25rem;
    position: relative;

  }
  .bulletlist-listItemBulletContent{
    display: table-cell;
    padding-right: 1.25rem;
    vertical-align: top;
  }
  .bulletlist-listItemContent {
    display: table-cell;
    vertical-align: middle;
  }
  .bulletlist-listItemContentText{
    line-height: 1.25rem;
    span{
      color: #0074ff;
    }
  }
}

.column-vertical-align {
  display: flex;
  align-items: center;
}