.equipment-finance-lp, .equipment-loans {
  // call button customization
  a[href^="tel:"].btn-primary {
    background-color: $brand-quaternary;
    border-color: $brand-quaternary;
    color: black;
    &:hover {
      background-color: $brand-primary;
      border-color: $brand-primary;
      color: $white;
    }
  }
  // make buttons stack and center with same fixed width on mobile
  @include md-max {
    p .btn {
      display: block;
      margin: 10px auto 0 auto;
      width: 300px;
      left: 50%;
    }
  }
}