.home-hero {
	margin-bottom: 0;
	background-size: 0;
	position: relative;
	padding-top: 40%;
	background-repeat: no-repeat;
	* {
		line-height: 1.25em;
	}
	.btn {
		line-height: 20px;
		min-width: 215px;
		@include sm-max {
			margin-bottom: 10px;
		}
	}
	@include sm-max {
		text-align: center !important;
		&::before {
			display: block;
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			padding-top: 40%;
			background-image: inherit;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			z-index: 0;
		}
		&--left,
		&--right {
			&::before {
				background-size: contain;
			}
		}
		&--center {
			&::before {
				background-size: cover;
			}
		}
		.container {
			position: relative;
			padding-top: 30px;
		}
	}
	@include md {
		min-height: 500px;
		padding-top: 0;
		> .container {
			position: absolute;
			top: 50%;
		}
		&--left,
		&--right {
			background-size: 0;
			&::before {
				display: block;
				content: '';
				background-image: inherit;
				background-repeat: no-repeat;
				background-position: center top;
				background-size: contain;
				position: absolute;
				top: 0;
				bottom: 0;
				width: 50%;
			}
			> .container {
				width: 50%;
				max-width: calc(1170px * 0.5);
				transform: translatey(-50%);
			}
		}
		&--left {
			&::before {
				left: 0;
			}
			> .container {
				left: 50%;
			}
		}
		&--right {
			&::before {
				background-image: inherit;
				background-repeat: no-repeat;
				right: 0;
			}
			> .container {
				right: 50%;
			}
		}
		&--center {
			background-size: cover;
			background-position: top center;
			> .container {
				left: 50%;
				width: 100%;
				transform: translate(-50%, -50%);
			}
		}
	}
	h1 {
		color: $white;
		text-align: inherit;
		font-size: 24px;
		min-height: 24px;
		padding-top: 0;
		@include md {
			font-size: 48px;
			min-height: 48px;
		}
	}
	p {
		text-align: inherit;
		font-weight: bold;
		font-size: 20px;
		min-height: 20px;
		@include md {
			font-size: 24px;
			min-height: 24px;
		}
	}
}
