// ToDo:: Following codes are temporary. Remove when the changes gets migrated to home page
.template-landing,
.template-landing-footer {

  .gform_wrapper ul.gfield_checkbox li input[type="checkbox"] {
    width: 25px !important;
    height: 25px;
    margin-right: 10px;
  }

  h1 {
    line-height: 1.875rem;
    font-size: 28px;
    @include md {
      font-size: 48px;
      line-height: 3.125rem;
    }
  }

  h2 {
    line-height: 1.875rem;
    @include md {
      line-height: 3.125rem;
    }
  }

  h3 {
    line-height: 1.5625rem;
    @include md {
      line-height: 1.875rem;
    }
  }
  .home-hero {
    > .container {
      @include sm-max {
        width: 100%;
      }
    }
  }

  .widget-call-to-action {
    .padded-section {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
