@import "common/variables";

// only include the variables - we load the main font through the cdn
@import "~font-awesome/scss/variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/type";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/thumbnails";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/grid";


// Custom variables
@import "custom/variables";

@import "common/amp-helpers";
@import "custom/mixins/media-query";
@import "custom/type";

@import "custom/galano";
@import "custom/pages/blog";
@import "custom/pages/article";
@import "custom/components/breadcrumbs";
@import "custom/components/footer";

* {
  box-sizing: border-box;
}

header {
  height: 75px;
  vertical-align: middle;
  background-color: $white;
  border: 0;
  position: fixed;
  width: 100%;
  z-index: 99;
  top: 0;
  border-bottom: 1px solid #e0e0e0;
}

.navbar-header {
  padding: 23px 0;
  .hamburger {
    font-size: 1.5em;
    float: right;
    .fa {
      vertical-align: top;
    }
  }
}

amp-social-share {
  border-radius: 8px;
}

amp-sidebar {
  background-color: #0074ff;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
   a {
     display: block;
     width: 100%;
   }
  .sub-menu {
    margin-left: 1em;
    a {
      font-weight: lighter;
      color: white;
      font-family: GalanoGrotesque,sans-serif;
    }
  }
  .login-link {
    color: white;
    padding: 10px;
    .fa {
      margin-right: 5px;
    }
  }
  .close-sidebar {
    font-size: 1.5em;
    color: white;
    text-align: right;
    .fa {
      margin-right: 0.5em;
    }
  }
  .menu-item {
    margin-bottom: 10px;
    & > a {
      color: white;
    }
  }
  .navbar-nav {
    & > .menu-item {
      padding: 0 10px;
      & > a {
        padding: 10px 0;
      }
    }
    &  > .menu-item + .menu-item {
      border-top: 1px solid #fff;
    }
  }

}

.amp-article-header {
  margin-top: 75px;
  &__hero {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }
  &__img {
    border: 12px solid #fff;
    padding-left: 15px;
    padding-right: 15px;
  }
  &__title {
    width: 100%;
  }
  &--has-thumb {
    .amp-article-header__hero {
      padding-bottom: 75px;
      @include sm {
        padding-bottom: 220px;
      }
    }
    .amp-article-header__img {
      margin-top: -75px;
      @include sm {
        margin-top: -25%;
      }
    }
  }
}

.wysiwyg-container {
  img {
    max-width: 100%;
    height: auto;
  }
}

.article-sidebar__subscribe {
  padding: 15px;
  color: white;
  background-color: #0074ff;
  text-align: center;
  form {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
  }
  input[type="text"], input[type="email"] {
    display: block;
    width: 100%;
    border-radius: .3125rem;
    box-shadow: inset 0 1px 3px 1px #f1f1f1;
    border: none;
    padding: 8px;
    font-family: GalanoGrotesque-Medium,sans-serif;
    outline: none;
    -webkit-appearance: none;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  input[type="submit"] {
    font-size: 18px;
    padding: 14px 25px;
    outline: none;
    -webkit-appearance: none;
    font-family: GalanoGrotesque-Medium,sans-serif;
    box-sizing: border-box;
    background-color: #000082;
    border: none;
    color: white;
  }
}

.breadcrumbs {
  a {
    color: white;
    text-decoration: none;
  }
}

.related-articles h2 {
  text-align: center;
}

.blog-card {
  amp-img {
    max-height: 250px;
    max-width: 100%;
  }
  @media(max-width: 994px) {
    amp-img {
      max-width: 250px;
    }
  }
}
