/*MEDIA QUERY SHORTHAND*/
@mixin xs {
  @media screen and (min-width: #{$screen-xs-min}) {
    @content;
  }
}
@mixin sm {
    @media screen and (min-width: #{$screen-sm-min}) {
        @content;
    }
}
@mixin md {
    @media screen and (min-width: #{$screen-md-min}) {
        @content;
    }
}
@mixin lg {
    @media screen and (min-width: #{$screen-lg-min}) {
        @content;
    }
}
@mixin xs-max {
    @media screen and (max-width: #{$screen-xs-max}) {
        @content;
    }
}
@mixin sm-max {
    @media screen and (max-width: #{$screen-sm-max}) {
        @content;
    }
}
@mixin md-max {
    @media screen and (max-width: #{$screen-md-max}) {
        @content;
    }
}

@mixin only-sm {
    @media screen and (min-width: #{$screen-xs-max}) and (max-width: #{$screen-sm-max}) {
        @content;
    }
}

@mixin only-xs {
    @media screen and (max-width: #{$screen-xs}) {
        @content;
    }
}
