.widget-welcome-mailer {
  label {
    display: block;
  }
  .popover-content {
    color: #000000;
  }
}

.refer-a-friend {
  .gform_body {
    .gf_left_half {
      float: left !important;
      width: 48% !important;
      .gfield_label {
        padding-top: 5px;
      }
      @include xs-max {
        width: 100% !important;
      }
    }
    .gf_right_half {
      float: right !important;
      width: 48% !important;
      @include xs-max {
        width: 100% !important;
      }
      .gfield_label {
        padding-top: 5px;
      }
      clear: none !important;
    }
    .gfield_label {
      display: block !important;
      padding-top: 10px;
    }

    .gsection {
      padding-top: 20px !important;
    }
  }

  .terms-and-condition-checkbox {
    br {
      display: none;
    }

    .gfield_label {
      display: none !important;
    }

    input {
      margin-top: 0 !important;
    }
  }
}

.form-inner-container {
  .gform_heading {
    display: none;
  }
}

.gform_wrapper {
  .gform_ajax_spinner {
    display: none !important;
  }
  input,
  textarea {
    color: #000000;
  }
}

.horizontal_newsletter_form {
  p {
    font-size: 1.5rem;
    line-height: 2.2rem;
  }
  @media not all and (min-width: $screen-tablet) {
    .gform_body ul {
      li:first-child {
        text-align: center;
      }
    }
  }

  @include md {
    width: 100% !important;
    margin: 60px auto !important;

    .form-inner-container {
      form {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .gform_body ul {
        display: flex;
        justify-content: center;
        align-items: center;

        li {
          margin: auto 10px !important;
          flex: 1 1 0;
        }

        li:first-child {
          flex: 2 2 0;
        }
      }

      .gform_footer {
        width: auto !important;
        margin-left: 30px;
      }

      .gform_button {
        width: auto !important;
        padding-left: 40px;
        padding-right: 40px;
        margin: 0 0 0 10px !important;
      }

      p {
        font-size: 1.5rem;
        line-height: 2.2rem;
        padding-right: 5px;
      }
    }
  }
}
