@font-face {
	font-family: 'icomoon';
	src: url($font-dir+'icomoon.woff?kb1rla') format('woff'), url($font-dir+'icomoon.eot?kb1rla#iefix') format('embedded-opentype'), url($font-dir+'icomoon.svg?kb1rla#icomoon') format('svg'), url($font-dir+'icomoon.ttf?kb1rla') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^='fa-'],
[class*=' fa-'] {
	display: inline-block;
	font: normal normal normal 14px/1 'icomoon';
	font-size: 14px;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

$fa-var-angle-right: '\e900';
.fa-angle-right:before {
	content: $fa-var-angle-right;
}
$fa-var-angle-up: '\e901';
.fa-angle-up:before {
	content: $fa-var-angle-up;
}
$fa-var-bars: '\e902';
.fa-bars:before {
	content: $fa-var-bars;
}
$fa-var-calendar: '\e903';
.fa-calendar:before {
	content: $fa-var-calendar;
}
$fa-var-check-square-o: '\e904';
.fa-check-square-o:before {
	content: $fa-var-check-square-o;
}
$fa-var-chevron-down: '\e905';
.fa-chevron-down:before {
	content: $fa-var-chevron-down;
}
$fa-var-chevron-up: '\e906';
.fa-chevron-up:before {
	content: $fa-var-chevron-up;
}
$fa-var-circle-o-notch: '\e907';
.fa-circle-o-notch:before {
	content: $fa-var-circle-o-notch;
}
$fa-var-facebook-official: '\e908';
.fa-facebook-official:before {
	content: $fa-var-facebook-official;
}
$fa-var-facebook-square: '\e909';
.fa-facebook-square:before {
	content: $fa-var-facebook-square;
}
$fa-var-home: '\e90a';
.fa-home:before {
	content: $fa-var-home;
}
$fa-var-linkedin: '\e90b';
.fa-linkedin:before {
	content: $fa-var-linkedin;
}
$fa-var-linkedin-square: '\e90c';
.fa-linkedin-square:before {
	content: $fa-var-linkedin-square;
}
$fa-var-lock: '\e90d';
.fa-lock:before {
	content: $fa-var-lock;
}
$fa-var-refresh: '\e90e';
.fa-refresh:before {
	content: $fa-var-refresh;
}
$fa-var-times: '\e90f';
.fa-times:before {
	content: $fa-var-times;
}
$fa-var-twitter-square: '\e910';
.fa-twitter-square:before {
	content: $fa-var-twitter-square;
}
$fa-var-check: '\e911';
.fa-check:before {
	content: $fa-var-check;
}
$fa-var-info: '\e912';
.fa-info:before {
	content: $fa-var-info;
}
$fa-var-remove: '\e913';
.fa-remove:before {
	content: $fa-var-remove;
}
$fa-var-exclamation: '\e914';
.fa-exclamation:before {
	content: $fa-var-exclamation;
}
$fa-var-chevron-right: '\e915';
.fa-chevron-right:before {
	content: $fa-var-chevron-right;
}
$fa-var-chevron-left: '\e916';
.fa-chevron-left:before {
	content: $fa-var-chevron-left;
}
$fa-var-angle-down: '\e917';
.fa-angle-down:before {
	content: $fa-var-angle-down;
}

%fa-fw {
	width: (18em / 14);
	text-align: center;
	background-position: center center;
}
.fa-fw {
	@extend %fa-fw;
}

%fa-2x {
	font-size: 2em;
}
.fa-2x {
	@extend %fa-2x;
}

%fa-3x {
	font-size: 3em;
}
.fa-3x {
	@extend %fa-3x;
}

%fa-spin {
	animation: fa-spin 2s infinite linear;
}
.fa-spin {
	@extend %fa-spin;
}
@keyframes fa-spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(359deg);
	}
}
