//
// Close icons
// --------------------------------------------------


.close {
    position: relative;
    z-index: 1;
    float: right;
    font-size: $font-size-small;
    font-weight: $close-font-weight;
    line-height: 1;
    color: $close-color;
    @include opacity(.8);
    @include transition(opacity .35s ease);
    &:hover,
    &:focus {
        color: $close-color;
        text-decoration: none;
        cursor: pointer;
        @include opacity(1);
    }


    // [converter] extracted button& to button.close
}

// Additional properties for button version
// iOS requires the button element instead of an anchor tag.
// If you want the anchor version, it requires `href="#"`.
// See https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile
button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    i {
        display: block;
        height: $close-times-size;
        width: $close-times-size;
        margin-left: auto;
        margin-right: auto;
        &:before, &:after {
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -.5px;
            width: 1px;
            height: $close-times-size;
            background-color: $close-color;
            content: ' '
        }
        &:before {
            @include rotate(45deg);
        }
        &:after {
            @include rotate(-45deg);
        }
    }
}
