// Narrow specific-piece-of-content-level customization

@mixin custom-bullet-color($color) {
  // change bullet color
  ul {
    list-style: none;
    padding-inline-start: 20px;

    li::before {
      content: "\2022"; // unicode for a bullet
      color: $color;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }
}

.custom-content-styling {
  &--broker-program {
    &-loans {
      background-color: black !important;
      color: $gray-light;

      h1,h2,h3,h4,h5,h6 {
        color: $white;
        img {
          height: 40px;
          width: auto;
          margin-left: 50px;
          @include only-xs {
            margin-left: 0;
          }
        }
      }

      .padded-section {
        padding-top: 0;
      }

      .call-out-wrapper {
        padding: 0.5rem;
      }

      .call-out-white {
        background-color: black;
      }

      .call-out-2 {
        position: relative;

        .quote {
          padding: 1rem 3.5rem;
        }

        &:first-of-type {
          strong {
            color: $brand-primary;
          }
          @include custom-bullet-color($brand-primary);

          &:after {
            $top-bottom-border-gap: 4rem;

            right: 0;
            top: $top-bottom-border-gap;
            content: "";
            border-right: 1px solid $gray;
            position: absolute;
            height: calc(100% - #{$top-bottom-border-gap});
            width: 1px;

            @include sm-max {
              content: none;
            }
          }
        }
        &:nth-of-type(2) {
          strong {
            color: $brand-quaternary;
          }
          @include custom-bullet-color($brand-quaternary);
        }
      }
    }

    &-affiliate {
      padding-top: 20px;
      padding-bottom: 20px;

      // lines-either-side heading
      h1,h2,h3,h4,h5,h6 {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        &::before,&::after {
          content: '';
          border-top: 1px solid $gray;
          margin: 0 20px 0 0;
          flex: 1 0 20px;
        }
        &::after {
          margin: 0 0 0 20px;
        }
      }

      ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        list-style: none;
        justify-content: center;

        padding-inline-start: 0;

        li {
          display: block;
          padding: 10px 20px;

          img {
            max-width: 100%;
            width: initial;
            height: 70px;
          }
        }

      }
    }
  }
  &--responsive-centered-images {
    .wysiwyg-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-bottom: 20px;
    }
  }
}