@font-face {
	font-family: 'GalanoGrotesque-Black';
	font-display: swap;
	font-style: normal;
	font-weight: 800;
	src: local('GalanoGrotesque-Black'), url($font-dir+'GalanoGrotesqueBlack.woff2') format('woff2'), url($font-dir+'GalanoGrotesqueBlack.woff') format('woff'), url($font-dir+'GalanoGrotesqueBlack.eot?#iefix') format('embedded-opentype'), url($font-dir+'GalanoGrotesqueBlack.otf') format('opentype'), url($font-dir+'GalanoGrotesqueBlack.svg') format('svg'), url($font-dir+'GalanoGrotesqueBlack.ttf') format('truetype');
}

@font-face {
	font-family: 'GalanoGrotesque';
	font-display: swap;
	font-style: normal;
	font-weight: bold;
	src: local('GalanoGrotesque-Bold'), url($font-dir+'GalanoGrotesqueBold.woff2') format('woff2'), url($font-dir+'GalanoGrotesqueBold.woff') format('woff'), url($font-dir+'GalanoGrotesqueBold.eot?#iefix') format('embedded-opentype'), url($font-dir+'GalanoGrotesqueBold.otf') format('opentype'), url($font-dir+'GalanoGrotesqueBold.svg') format('svg'), url($font-dir+'GalanoGrotesqueBold.ttf') format('truetype');
}

@font-face {
	font-family: 'GalanoGrotesque-Light';
	font-display: swap;
	font-style: normal;
	font-weight: bold;
	src: local('GalanoGrotesque-Light'), url($font-dir+'GalanoGrotesqueLight.woff2') format('woff2'), url($font-dir+'GalanoGrotesqueLight.woff') format('woff'), url($font-dir+'GalanoGrotesqueLight.eot?#iefix') format('embedded-opentype'), url($font-dir+'GalanoGrotesqueLight.otf') format('opentype'), url($font-dir+'GalanoGrotesqueLight.svg') format('svg'), url($font-dir+'GalanoGrotesqueLight.ttf') format('truetype');
}

@font-face {
	font-family: 'GalanoGrotesque-Medium';
	font-display: swap;
	font-style: normal;
	font-weight: 500;
	src: local('GalanoGrotesque-Medium'), url($font-dir+'GalanoGrotesqueMedium.woff2') format('woff2'), url($font-dir+'GalanoGrotesqueMedium.woff') format('woff'), url($font-dir+'GalanoGrotesqueMedium.eot?#iefix') format('embedded-opentype'), url($font-dir+'GalanoGrotesqueMedium.otf') format('opentype'), url($font-dir+'GalanoGrotesqueMedium.svg') format('svg'), url($font-dir+'GalanoGrotesqueMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'GalanoGrotesque';
	font-display: swap;
	font-style: normal;
	font-weight: normal;
	src: local('GalanoGrotesque-Regular'), url($font-dir+'GalanoGrotesque.woff2') format('woff2'), url($font-dir+'GalanoGrotesque.woff') format('woff'), url($font-dir+'GalanoGrotesque.eot?#iefix') format('embedded-opentype'), url($font-dir+'GalanoGrotesque.otf') format('opentype'), url($font-dir+'GalanoGrotesque.svg') format('svg'), url($font-dir+'GalanoGrotesque.ttf') format('truetype');
}
