.widget-form {
	.form-container {
		position: relative;
		margin: 30px auto;

		.gform_title {
			margin-bottom: 50px;
		}

		h3.gform_title {
			color: inherit;
			font-size: 36px;
			text-align: center;
		}

		.terms {
			text-align: center;
			font-size: 0.8em;
			line-height: 1.42857;
			color: inherit;
			// Move closer to the form
			margin-top: -1em;
		}
		.gform_confirmation_message {
			color: white;
			font-weight: bold;
		}
	}
	.gfield_html {
		padding-bottom: 0;
	}
	@include md {
		input[type='text'] {
			line-height: 1.42857;
			padding: 14px 10px !important;
		}
		.field_description_below {
			position: relative;
		}
		.gfield_description {
			&.validation_message {
				position: absolute;
			}
		}
		.gfield {
			padding-top: 0;
		}
	}
}

.form-call-to-action {
	position: absolute;
	right: 25%;
	color: white;
	top: 27%;
	font-weight: bold;
	text-align: center;
	a {
		color: white;
		font-size: 1.5em;
		font-weight: bold;
	}
}

form.awaiting-api {
	.gform_body {
		display: none;
	}
	.gform_heading {
		&:after {
			content: $fa-var-circle-o-notch;
			color: white;
			display: block;
			margin-left: auto;
			margin-right: auto;
			@extend .fa;
			@extend .fa-circle-o-notch;
			@extend .fa-spin;
			@extend .fa-3x;
			@extend .fa-fw;
		}
	}
}
// Reset some gravity forms styling
.gform_wrapper {
	.top_label label.gfield_label {
		display: none;
	}

	.gfield {
		padding: 0;
		margin: 5px 0 0 0 !important;
	}

	// Equivalent of .form-control in _forms.scss
	.ginput_container {
		margin: 0 !important;

		input[type='text'],
		input[type='email'],
		input[type='tel'],
		input[type='date'],
		input[type='search'],
		textarea {
			margin: 0;
			width: 100% !important;

			height: auto;
			border-radius: 0.3125rem;
			box-shadow: inset 0 1px 3px 1px #f1f1f1;
			font-size: 1rem;
			line-height: 1.42857 !important;
			padding: 14px !important;
			outline: none;
			-webkit-appearance: none;
			vertical-align: middle;
			border: 0 solid transparent;
			@include placeholder {
				color: $input-color-placeholder;
			}
			&.input-error {
				border-color: $brand-tertiary;
				@include placeholder {
					color: $brand-tertiary;
				}
				+ .input-error {
					color: $brand-tertiary;
				}
			}
		}
		select {
			width: 100% !important;
			border-radius: 0.3125rem;
			border-width: 0;
			background-color: $white;
		}
	}

	p.input-error {
		display: none;
		color: $brand-tertiary;
	}

	.form-control.input-error {
		border-color: $brand-tertiary;
	}

	.form-xs,
	.form-sm {
		textarea {
			height: 10rem;
		}
	}

	.gform_button {
		@extend .btn-primary;
		@extend .btn;
		@extend .btn-block;
		.template-landing &,
		.template-landing-footer & {
			display: block !important;
			width: 100% !important;
		}
	}

	.gform_footer {
		padding-top: 0;
		margin-top: 10px;
		.template-landing &,
		.template-landing-footer & {
			padding-top: 0;
			margin-top: 10px;
		}

		// Gravity forms adding random break tags in it's footer causing styling issues.
		& > p {
			display: none;
		}
		& > br {
			display: none;
		}
	}
}
.gform_wrapper {
	// override gravity-forms right-padding on fields
	ul.gform_fields {
		li.gfield {
			padding-right: initial !important;
		}
	}

	&.enquiry-form_wrapper {
		&.gform_validation_error {
			.gform_body {
				ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
					@include sm-max {
						width: 100%;
						max-width: 100% !important;
					}
				}
			}
		}
	}
}

// Form modifier classes
.form--black-placeholders {
	select {
		color: black;
		option {
			color: black;
			&:first-child {
				color: $gray;
			}
		}
	}
	input,
	textarea {
		@include placeholder {
			color: black !important;
		}
	}
}

// Specific form style modifications
.enquiry-form {
	.gform_heading {
		width: 100%;
		margin: 0 0 0 0;
		@include md {
			width: 17%;
			height: 100px;
			display: block;
			float: left;
			clear: none;
		}
		@include lg {
			width: 20%;
			height: 80px;
		}
		> h3.gform_title {
			width: 65%;
			color: white;
			text-align: center;
			line-height: 1.42857;
			margin: 5px auto 5px auto;
			@include md {
				width: 98%;
				margin: 5px 0 5px 0;
			}
			@include lg {
			}
		}
	}
	.validation_error {
		display: none;
	}
	.gform_body {
		width: 100%;
		@include md {
			margin: 0 0 0 0;
			width: 63%;
			display: block;
			float: left;
			clear: none;
		}
		@include lg {
			width: 66%;
		}
		> .gform_fields {
			@include md {
				padding-top: 13px;
				padding-bottom: 13px;
				margin-top: 5px !important;
				margin-bottom: 5px !important;
			}
			@include lg {
				padding: 0;
				margin-top: 5px !important;
				margin-bottom: 5px !important;
			}
		}
	}
	.gform_footer {
		width: 100%;
		margin: 0;
		padding: 0;
		@include md {
			padding-top: 13px;
			padding-bottom: 13px;
			width: 20%;
			height: 100px;
			display: block;
			float: left;
			clear: none;
		}
		@include lg {
			padding: 0;
			width: 14%;
			height: 80px;
		}
		> .gform_button {
			margin-top: 5px !important;
			@include md {
				margin-top: 5px !important;
				margin-bottom: 5px !important;
			}
			@include lg {
				margin-top: 5px !important;
				margin-bottom: 5px !important;
			}
		}
	}
	li.gfield {
		width: 100%;
		@include md {
			vertical-align: top;
			display: inline-block;
			margin: 0 !important;
			width: 144px;
		}
		@include lg {
			width: 184px;
		}
		&.gfield_error {
			background: none;
			border: none;
			margin: 0;
			@include md {
				padding: 0;
				margin: 0;
				width: 144px;
			}
			@include lg {
				width: 184px;
			}
		}
	}
	.ginput_container {
		width: 100%;
		@include md {
			width: 144px;
		}
		@include lg {
			width: 182px;
		}
		input[type='text'],
		input[type='email'],
		input[type='tel'],
		input[type='date'],
		input[type='search'],
		textarea {
			width: 100% !important;
			@include md {
				margin: 0;
				width: 144px !important;
			}
			@include lg {
				width: 184px !important;
			}
			height: auto;
			border-radius: 0.3125rem;
			box-shadow: inset 0 1px 3px 1px #f1f1f1;
			font-size: 1rem;
			line-height: 1.42857;
			padding: 16.5px 10px !important;
			outline: none;
			-webkit-appearance: none;
			vertical-align: middle;
			border: 0 solid transparent;
			@include placeholder {
				color: $input-color-placeholder;
			}
		}
	}
	.gfield_description {
		&.validation_message {
			padding-top: 0;
			color: #f9644b;
		}
	}
	.gform_button {
		background-color: $brand-form-button;
		border-color: $brand-form-button;
	}
}

.broker-capture-form {
	li.gfield {
		padding-bottom: 5px;
	}
	label.gfield_label {
		display: block !important;
	}
}
