body {
  background: $body-bg;
  line-height: 1.5625rem;
}
.article {
  .section {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}
.content {
  margin-top: $nav-bar-height;
  @include sm {
    margin-top: $nav-bar-height-desktop;
  }

  .template-landing &,
  .template-landing-footer & {
    margin-top: 0;
  }
}
.section {
  position: relative;
  background-color: var(--bgColor);
}
.section-white {
  background: $white;
}
.section-secondary {
  background: $brand-secondary;
  color: $white;
  a {
    color: $white;
  }
}
.section-quaternary {
  background: $brand-quaternary;
}
.section-grey {
  background: $gray;
}

.section-hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.padded-section{
  padding-top: 1.875em;
  padding-bottom: 1.875em;
}
.widget-double-wysiwyg {
  & + & {
    .padded-section{
      padding-top: 0;
    }
  }
}


.noPadding {
  padding: 0 !important;
}
.noTopPadding {
  padding-top: 0 !important;
}

.noBottomPadding {
  padding-bottom: 0 !important;
}

.noLeftPadding {
  padding-left: 0 !important;
}

.noRightPadding {
  padding-right: 0 !important;
}

.noLeftPadding {
  padding-left: 0 !important;
}

.noMargin {
  margin: 0 !important;
}
.noTopMargin {
  margin-top: 0 !important;
}

.noBottomMargin {
  margin-bottom: 0 !important;
}

.noLeftMargin {
  margin-left: 0 !important;
}

.noRightMargin {
  margin-right: 0 !important;
}

.noLeftPadding {
  padding-left: 0 !important;
}

.container {
  > h2 {
    margin: 0 auto 1em;
    text-align: center;
    max-width: 860px;
  }
}


.imgBackgroundContainer {
  background-size: cover;
  background-position: center;
  background-color: #00b3ee;
}

.padded-right-content {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  text-align: center;
  @include sm {

  }
  @include md {
    padding-right: 5rem;
    text-align: left;
  }
}


.col-xs-15 {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}