//
// Pager pagination
// --------------------------------------------------


.pager {
    padding-left: 0;
    margin: $line-height-computed 0;
    list-style: none;
    text-align: center;
    @include clearfix;
    li {
        display: block;
        width: 50%;
        > a,
        > span {
            @include clearfix();
            display: inline-block;
            width: 100%;
            padding: 20px;
            background-color: $pager-bg;
            border: 1px solid $pager-border;
            border-radius: $pager-border-radius;
            font-weight: bold;
            @include transition(all .25s ease);
            p {
                color: $lightest;
                @include bordered-vertical();
                @include transition(all .25s ease);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            span {
                color: $brand-tertiary;
                @include transition(all .25s ease);
            }
        }

        > a:hover,
        > a:focus {
            text-decoration: none;
            background-color: $pager-hover-bg;
            p {
                border-color: $brand-secondary;
                color: $brand-secondary;
            }
            span {
                color: $brand-secondary;
            }
        }
    }

    .next {
        float: right;
        text-align: right;
        padding-left: 20px;
        > a,
        > span {
            border-bottom-right-radius: 30px;
            span {
                float: right;
            }
        }
    }

    .previous {
        float: left;
        text-align: left;
        padding-right: 20px;
        > a,
        > span {
            border-bottom-left-radius: 30px;
            span {
                float: left;
            }
        }
    }

    .disabled {
        > a,
        > a:hover,
        > a:focus,
        > span {
            color: $pager-disabled-color;
            background-color: $pager-bg;
            cursor: $cursor-disabled;
        }
    }
}
