//
// Pagination (multiple pages)
// --------------------------------------------------
.pagination {
    display: inline-block;
    padding-left: 0;
    > li {
        display: inline-block; // Remove list-style and block-level defaults
        > a,
        > span {
            position: relative;
            display: block;
            height: $pagination-size * 2;
            width: $pagination-size * 2;
            font-size: $pagination-size;
            line-height: $pagination-size * 2;
            text-align: center;
            text-decoration: none;
            color: $pagination-color;
            background-color: $pagination-bg;
            border-radius: 50%;
            margin-left: 1vw;
            margin-right: 1vw;
            @include transition(all .25s ease);
        }
    }

    > li > a,
    > li > span {
        &:hover,
        &:focus {
            z-index: 2;
            color: $pagination-hover-color;
            background-color: $pagination-hover-bg;
        }
    }

    > .active > a,
    > .active > span {
        &,
        &:hover,
        &:focus {
            z-index: 3;
            color: $pagination-active-color;
            background-color: $pagination-active-bg;
            cursor: default;
        }
    }

    > .disabled {
        > span,
        > span:hover,
        > span:focus,
        > a,
        > a:hover,
        > a:focus {
            color: $pagination-disabled-color;
            background-color: $pagination-disabled-bg;
            cursor: $cursor-disabled;
        }
    }
}

// Sizing
// --------------------------------------------------

// Large
.pagination-lg {
    @include pagination-size($pagination-size-lg);
}

// Small
.pagination-sm {
    @include pagination-size($pagination-size-sm);
}

.page-navigatation {
    display: table;
    width: 100%;
    margin: 2em auto;
    background-color: $brand-secondary;
    text-align: center;
    border-radius: $border-radius-base;
    .pager-next, .pager-prev {
        display: inline-block;
        height: $pagination-size * 3;
        line-height: $pagination-size * 3;
        width: $pagination-size * 3;
        border: solid 0 $brand-tertiary;
        color: $brand-tertiary;

    }
    .pager-prev {
        float: left;
        border-right-width: 1px;
    }
    .pager-next {
        float: right;
        border-left-width: 1px;
    }
    .pagination {
        margin: ($pagination-size / 2) 0;
    }
}