html {
    font-size: 16px;
}
body {
    font-family: GalanoGrotesque,sans-serif;
    font-size: 16px;
    @include md {
        font-size: 16px;
    }
}
h1 {
    font-weight: bold;
    font-size: 24px;
    @include md {
        font-size: 48px;
    }
}
h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 3.125rem;
    @include md {
        font-size: 36px;
    }
}
h3 {
    font-size: 1.125rem;
    line-height: 1.875rem;
    font-weight: 700;
    @include md {
        font-size: 1.5rem;
    }
}
h4 {
    font-weight: bold;
    font-size: 1.125rem;
    @include md {
        font-size: 1.5rem;
    }
}
h5 {
    font-family: GalanoGrotesque-Medium, sans-serif;
    font-size: 1rem;
    @include md {
        font-size: 1.125rem;
    }
}
h6 {
    font-family: GalanoGrotesque-Medium, sans-serif;
    font-size: 1rem;
    line-height: 1.5625rem;
    margin-top: 1.25rem;
    margin-bottom: 0.625rem;
    @include md {
        font-size: 1rem;
        line-height: 1.5625rem;
        margin-top: 1.875rem;
    }
}

.section-headline, h2.section-headline {
    margin-bottom: 2.5rem;
}


.section-subheading {
    padding-top: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.lead {
    font-size: 1.125rem;
    line-height: 1.875rem;
}

blockquote {
    border: 0;
    text-align: left;
    padding: 0;
    margin-bottom: 2.5rem;
    @include sm {
        font-size: 1.5rem;
        line-height: 2.1875rem;
    }
}

.no-style{
    color: inherit;
    text-decoration: inherit;
    font-weight: inherit;
    font-family: inherit;
    &:hover, &:focus, &:active{
        color: inherit;
        text-decoration: inherit;
        font-weight: inherit;
        font-family: inherit;
    }
}
a {
    color: $brand-primary;
    font-family: GalanoGrotesque-Medium, sans-serif;
}
a.text-black {
    color: #000;
    &:hover{
        text-decoration: none;
    }
}

.list {
    margin: 0;
    padding: 0;
    .list-item {
        padding: .3125rem;
    }
}

.widget {
    &-wysiwyg,
    &-double-wysiwyg,
    &-text-wysiwyg,
    &-accordion,
    &-specialist,
    &-top-header,
    &-3-columns-with-icons-on-the-left,
    &-3-content-columns,
    &-welcome-mailer {
        a {
            text-decoration: underline;
            &.btn {
                text-decoration: none;
            }
        }
        table {
            width: 100%;
            td {
                padding: 5px;
            }
            @include sm {
                width:50%;
            }
        }
    }
}