
.bg-navy-blue {
  background-color: #000082;
}

.alignright {
  float: right;
}

.alignleft {
  float: left;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.amp-wp-enforced-sizes {
  /** Our sizes fallback is 100vw, and we have a padding on the container; the max-width here prevents the element from overflowing. **/
  max-width: 100%;
  margin: 0 auto;
}

.amp-wp-unknown-size img {
  /** Worst case scenario when we can't figure out dimensions for an image. **/
  /** Force the image into a box of fixed dimensions and use object-fit to scale. **/
  object-fit: contain;
}

/* Template Styles */

.amp-wp-content,
.amp-wp-title-bar div {
  margin: 0 auto;
  max-width: 660px;
}

html {
  background: #FFFFFF;
}

body {
  background: #FFFFFF;
  color: #333333;
}

p,
ol,
ul,
figure {
  margin: 0 0 1em;
  padding: 0;
}

a,
a:visited {
  color: #0074ff;
}

a:hover,
a:active,
a:focus {
  color: #333333;
}

/* Quotes */

blockquote {
  color: #333333;
  background: rgba(127,127,127,.125);
  border-left: 2px solid #0074ff;
  margin: 8px 0 24px 0;
  padding: 16px;
}

blockquote p:last-child {
  margin-bottom: 0;
}

/* Header */

.amp-wp-header {
  background-color: #FFFFFF;
  border-bottom: 1px solid #e0e0e0;
}


.amp-wp-header div {
  color: #0074ff;
  font-size: 1em;
  font-weight: 400;
  margin: 0 auto;
  max-width: calc(840px - 32px);
  padding: .875em 16px;
  position: relative;
  text-align: center;
}


.amp-wp-header a {
  color: #0074ff;
  text-decoration: none;
}

/* Site Icon */

.amp-wp-header .amp-wp-site-icon {
  /** site icon is 32px **/
  background-color: #0074ff;
  border: 1px solid #0074ff;
  border-radius: 50%;
  position: absolute;
  right: 18px;
  top: 10px;
}

/* Article */
.container {
  max-width: 840px;
  margin: 0 auto;
  padding: 0 15px;
}

.amp-wp-article {
  color: #333333;
  font-weight: 400;
  margin: 1.5em auto;
  max-width: 840px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

/* Article Header */

.amp-wp-article-header {
  align-items: center;
  align-content: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1.5em 16px 0;
}

.amp-wp-title {
  color: #333333;
  display: block;
  flex: 1 0 100%;
  font-weight: 900;
  margin: 0 0 .625em;
  width: 100%;
}

/* Article Meta */

.amp-wp-meta {
  color: #333333;
  display: inline-block;
  flex: 2 1 50%;
  font-size: .875em;
  line-height: 1.5em;
  margin: 0 0 1.5em;
  padding: 0;
}

.amp-wp-article-header .amp-wp-meta:last-of-type {
  text-align: right;
}

.amp-wp-article-header .amp-wp-meta:first-of-type {
  text-align: left;
}

.amp-wp-byline amp-img,
.amp-wp-byline .amp-wp-author {
  display: inline-block;
  vertical-align: middle;
}

.amp-wp-byline amp-img {
  border: 1px solid #0074ff;
  border-radius: 50%;
  position: relative;
  margin-right: 6px;
}

.amp-wp-posted-on {
  text-align: right;
}

/* Featured image */
amp-img {
  max-width: 100%;
  box-sizing: border-box;
}

/* Article Content */

.amp-wp-article-content {
  margin: 0 16px;
}

.amp-wp-article-content ul,
.amp-wp-article-content ol {
  margin-left: 1em;
}

.amp-wp-article-content amp-img {
  margin: 0 auto;
}

.amp-wp-article-content amp-img.alignright {
  margin: 0 0 1em 16px;
}

.amp-wp-article-content amp-img.alignleft {
  margin: 0 16px 1em 0;
}

/* Captions */

.wp-caption {
  padding: 0;
}

.wp-caption.alignleft {
  margin-right: 16px;
}

.hidden {
  display: none;
}

.wp-caption.alignright {
  margin-left: 16px;
}

.wp-caption .wp-caption-text {
  border-bottom: 1px solid #333333;
  color: #333333;
  font-size: .875em;
  line-height: 1.5em;
  margin: 0;
  padding: .66em 10px .75em;
}

/* AMP Media */

amp-carousel {
  background: #333333;
  margin: 0 -16px 1.5em;
}
amp-iframe,
amp-youtube,
amp-instagram,
amp-vine {
  background: #333333;
  margin: 0 -16px 1.5em;
}

.amp-wp-article-content amp-carousel amp-img {
  border: none;
}

amp-carousel > amp-img > img {
  object-fit: contain;
}

.amp-wp-iframe-placeholder {
  background: #333333 url( http://local.ondeck/app/plugins/amp/assets/images/placeholder-icon.png ) no-repeat center 40%;
  background-size: 48px 48px;
  min-height: 48px;
}

/* Article Footer Meta */

.amp-wp-article-footer .amp-wp-meta {
  display: block;
}

.amp-wp-tax-category,
.amp-wp-tax-tag {
  color: #333333;
  font-size: .875em;
  line-height: 1.5em;
  margin: 1.5em 16px;
}

.amp-wp-comments-link {
  color: #333333;
  font-size: .875em;
  line-height: 1.5em;
  text-align: center;
  margin: 2.25em 0 1.5em;
}

.amp-wp-comments-link a {
  border-style: solid;
  border-color: #333333;
  border-width: 1px 1px 2px;
  border-radius: 4px;
  background-color: transparent;
  color: #0074ff;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  margin: 0 auto;
  max-width: 200px;
  padding: 11px 16px;
  text-decoration: none;
  width: 50%;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

/* AMP Footer */
.amp-wp-footer {
  background-color: #e0e0e0;

  .disclaimer {
    a {
      color: #0074ff;
    }
  }
}
.amp-wp-article-footer {
  padding-bottom: 1em;
}


a {
  text-decoration: none;
}

.back-to-top {
  font-size: .8em;
  font-weight: 600;
  line-height: 2em;
}
td, th {
  text-align: left;
}

form.amp-form-submit-success [submit-success],
form.amp-form-submit-error [submit-error] {
  margin-top: 16px;
}
form.amp-form-submit-success [submit-success] {
  background-color: green;
  color: white;
  padding: 10px;
}
form.amp-form-submit-error [submit-error] {
  background-color: red;
  color: white;
  padding: 10px;
}
form.amp-form-submit-success.hide-inputs > input {
  display: none;
}

