// Colour names are found using http://chir.ag/projects/name-that-color/
.var-bg {
	background-color: var(--bgColor);
}
.var-bg-opaque,
.bg-opaque {
	--bgColor: initial !important;
	background-color: var(--bgColor);
	&.btn {
		color: $btn-default-color;
		background-color: transparent;
		border-color: $btn-default-border;
	}
}

.var-bg-white,
.bg-white {
	--bgColor: white !important;
	background-color: var(--bgColor);
	&.btn {
		@include button-variant($btn-default-color, white, $btn-default-border);
	}
	.refer-a-friend label {
		color: set-form-text-color(white);
	}
}

.var-bg-grey,
.bg-grey {
	--bgColor: #f0ece9 !important;
	background-color: var(--bgColor);
	&.btn {
		@include button-variant(black, #f0ece9, darken(#f0ece9, 10%));
	}
	.refer-a-friend label {
		color: set-form-text-color(#f0ece9);
	}
}

.var-bg-dark-grey,
.bg-dark-grey {
	--bgColor: #535353 !important;
	background-color: var(--bgColor);
	&.btn {
		@include button-variant(white, #535353, darken(#535353, 10%));
	}
	.refer-a-friend label {
		color: set-form-text-color(#535353);
	}
}

.var-bg-riptide,
.bg-riptide {
	--bgColor: #83eece !important;
	background-color: var(--bgColor);
	&.btn {
		@include button-variant($btn-default-color, #83eece, darken(#83eece, 10%));
	}
	.refer-a-friend label {
		color: set-form-text-color(#83eece);
	}
}

.var-bg-azure-radiance,
.bg-azure-radiance {
	--bgColor: #0074ff !important;
	background-color: var(--bgColor);
	&.btn {
		@include button-variant(white, #0074ff, darken(#0074ff, 10%));
	}
	.refer-a-friend {
		label {
			color: set-form-text-color(#0074ff);
		}
		.gform_button {
			background-color: #000082 !important;
			&:hover {
				background-color: #005dcc !important;
			}
		}
	}
}

.var-bg-navy-blue,
.bg-navy-blue {
	--bgColor: #000082 !important;
	background-color: var(--bgColor);
	&.btn {
		@include button-variant(white, #000082, darken(#000082, 10%));
	}
	.refer-a-friend label {
		color: set-form-text-color(#000082);
	}
}

.var-bg-sunset-orange,
.bg-sunset-orange {
	--bgColor: #ff474a;
	background-color: var(--bgColor);
	&.btn {
		@include button-variant(white, #ff474a, darken(#ff474a, 10%));
	}
	.refer-a-friend label {
		color: set-form-text-color(#ff474a);
	}
}

.var-bg-black,
.bg-black {
	--bgColor: black;
	background-color: var(--bgColor);
	&.btn {
		@include button-variant(white, black, darken(black, 10%));
	}
}

.tight-text {
	letter-spacing: -1px;
}

.position-to-bottom {
	position: absolute;
	width: 100%;
	bottom: 30px;
	left: 0;
	padding: 0 4.5rem;

	@include sm-max {
		position: initial;
		padding: initial;
		left: initial;
		bottom: initial;
	}
}

.v-align-top {
	vertical-align: top;
}

.mobile-wrap {
	display: none;
	@include sm-max {
		display: block;
	}
}

.desktop-wrap {
	display: block;
	@include sm-max {
		display: none;
	}
}
