
$img-dir: '../images/' !default;
$font-dir: '../fonts/';
$fa-font-path: '~font-awesome/fonts';


@function set-form-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000000; // Lighter backgorund, return dark color
  } @else {
    @return #ffffff; // Darker background, return light color
  }
}

